<licky-lick-app-widget-under-construction [logoName]="'AHEAD'"
                                          [logoURL]="'assets/touch-icon-ipad.png'"
                                          [homePageLink]="'/'"
                                          [headingText]="'Alert Notifications is Under Construction'"
                                          [subText]="'Apologies. This page is currently under development.'"
                                          [goBackText]="'Return to previous page'"></licky-lick-app-widget-under-construction>
