<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <app-nav></app-nav>
    <licky-lick-marketing-header2 [headingText]="'We Got the News'"
                                  [descriptionText]="'Stay up to date with what\'s going on in the world by choosing from over 50 news sources, from ABC to YNET.'"
                                  [button1Link]="null"
                                  [button2Link]="null"></licky-lick-marketing-header2>
  </header>
</div>
<div id="content"
     class="site-content">
  <div id="primary"
       class="content-area">
    <main id="main"
          class="site-main">
      <licky-lick-marketing-features1 [descriptionText]="'The news is not just information about what\'s happening in the world, but how does news relate to what\'s happening in your business. Using our proprietary AI model, stories are scanned to see how it can benefit your company. '"
                                      [featureHeading1]="'Selection'"
                                      [featureDescription1]="'Utilize the news-picker to select which news sources that suit your interest.'"
                                      [featureIcon1]="'icon-layers'"
                                      [featureHeading2]="'Current'"
                                      [featureDescription2]="'Stay up to date with top headlines from around the world.'"
                                      [featureIcon2]="'icon-clock'"
                                      [featureHeading3]="'Context'"
                                      [featureDescription3]="'If subscribed to our CRM Service, news related to the contact or the contact\'s company is displayed.'"
                                      [featureIcon3]="'icon-user'"></licky-lick-marketing-features1>
      <licky-lick-marketing-parallax1 [headingText]="'Make the Call'"
                                      [descriptionText]="'When viewing a contact and you see something in the news related to their company, pick up the phone and comment on the story.  Build business relationships by having news topics to discuss.'"
                                      [imageURL]="'assets/images/news.jpg'"
                                      [textColor]="'#fff'"></licky-lick-marketing-parallax1>
      <licky-lick-marketing-about-product4 [headingText]="'More than just news'"
                                           [descriptionText]="'By tieing the news to your contacts, the stories are now part of your relationship strategy.  Sure, you can digest the news to stay informed, but in the background the service digs into stories to find the information you can use to strengthen relationships.'"
                                           [buttonLink]="null"
                                           [iconFeature1]="'icon-check'"
                                           [iconFeature2]="'icon-pin'"
                                           [iconFeature3]="'icon-info'"
                                           [iconFeature4]="'icon-map'"
                                           [featureText1]="'Top News Sources'"
                                           [featureText2]="'Choose One or Many'"
                                           [featureText3]="'News in Context'"
                                           [featureText4]="'All Over the World'"
                                           [featureBadgeText2]="null"
                                           [featureBadgeText3]="null"></licky-lick-marketing-about-product4>
      <licky-lick-marketing-faq1 [headingText]="'Frequently Asked Questions'"
                                 [descriptionText]="'Presented here are the top 3 questions about the News Service.'"
                                 [faqHeading1]="'What makes us different?'"
                                 [faqDescription1]="'The aggregation of news from around the world is no different than any other news service you may have used. What is new is how we use the press to help you build relationships by digging through stories and offering suggestions of who to contact based on the news.'"
                                 [faqHeading2]="'Why should I try it?'"
                                 [faqDescription2]="'The News Service integrates with our CRM Service.  In the background, the application reviews stories and suggest people you should contact and on what topic.'"
                                 [faqHeading3]="'When is the software available?'"
                                 [faqDescription3]="'We want to make sure the product is as close to perfect as possible before release. Check back often or help us expedite the release by signing up for our alpha version.'"></licky-lick-marketing-faq1>
      <licky-lick-marketing-how-to1 [descriptionText]="'Implementing these steps puts your business on the path to being more predictable.  A business relationship manager or sales team willing to give time and attention to these steps will flourish.'"
                                    [header1]="'Sign Up'"
                                    [header2]="'Verify'"
                                    [header3]="'Login'"
                                    [description1]="'Go to the signup page and provide a name, email address, password. Or use your social media account gain access.'"
                                    [description2]="'There is no verification required for initial use. However, a confirmation must occur within seven days. Failure to verify your email address will result in account lockout.'"
                                    [description3]="'Log in and start catching up on the news.'"></licky-lick-marketing-how-to1>
      <licky-lick-marketing-lightbox1 [headerText]="'Image Gallery'"
                                      [descriptionText]="'Below are sample snapshots of what our news application looks like.'"
                                      [images]="images"></licky-lick-marketing-lightbox1>
      <licky-lick-marketing-try-it1 [headingText]="'Coming Late Fall'"
                                    [buttonLink]="null"></licky-lick-marketing-try-it1>
    </main>
  </div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
                              [buttonLink1]="'/about'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/about/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/about/terms'"
                              [buttonText4]="'Contact'"
                              [buttonLink4]="'/about/contact'"
                              [socialText1]="'Twitter'"
                              [socialText2]="'GitHub'"
                              [socialText3]="'YouTube'"
                              [socialText4]="null"
                              [socialText5]="null"
                              [socialLink1]="'https://twitter.com/16Ahead'"
                              [socialLink2]="'https://github.com/tshowers/licky-lick'"
                              [socialLink3]="'https://www.youtube.com/channel/UCmsqXdXkbD8Seh-kvHPApig'"
                              [socialLink4]="null"
                              [socialLink5]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-github'"
                              [socialIcon3]="'fa-youtube'"
                              [router]="router"></licky-lick-marketing-footer2>
