<licky-lick-app-widget-breadcrumb [crumbs]="crumbs"  [context]="store?.name" (pageEvent)="onBreadCrumb($event)">
</licky-lick-app-widget-breadcrumb>
<licky-lick-marketing-about-product7 [imageURL]="store?.url" [headingText]="store?.name"
  [descriptionText]="store?.description" [instructionText]="store?.keywords" [customButtonText1]="'Edit'"
  [customButtonIcon1]="'fa-pencil-square-o'" (customEvent1)="onEdit()" [customButtonText2]="'Browse My Catalogs'"
  [customButtonIcon2]="'fa-eye'" (customEvent2)="onCatalog()"></licky-lick-marketing-about-product7>
<div *ngIf="store?.sections">
  <section class="wow fadeUp container-fluid section-block about-4" [ngClass]="{'color-block' : (0 === (i%2))}"
    *ngFor="let s of store.sections; let i = index">
    <h2>{{s?.name}}</h2>
    <div innerHTML="{{s?.description}}"></div>
  </section>
</div>
<licky-lick-marketing-about-product5 *ngIf="offer1" [imageURL]="offer1?.url" [iconFeature]="'icon-tag'"
  [featureText]="'Featured Offer'" [headingText]="offer1?.name" [descriptionText]="offer1?.longDescription"
  [buttonText]="null" [buttonLink]="null" [customButtonText1]="'Learn More'" [customButtonIcon1]="'fa-eye'"
  (customEvent1)="onOffer1()"></licky-lick-marketing-about-product5>
<licky-lick-marketing-prices2 [headingText]="'Featured'"
  [descriptionText]="'Below are some of the items you can have NedRa\'s collection of quilt images placed. Click the View Details button to learn more about the item.'"
  [actionText]="'View Details'" (pageEvent)="onProduct($event)" [products]="products"></licky-lick-marketing-prices2>
<licky-lick-marketing-lightbox1 [headerText]="store?.name + ' Samples'"
  [descriptionText]="'Click on an image below to activate a lightbox. Upon clicking a translucent background is revealed which is used lay images upon to be seen with a higher contrast.'"
  [images]="images"></licky-lick-marketing-lightbox1>
<licky-lick-marketing-about-product7 *ngIf="offer2" [imageURL]="offer2?.url" [headingText]="offer2?.name"
  [descriptionText]="offer2?.longDescription" [instructionText]="offer2?.keywords" [customButtonText1]="'Learn More'"
  [customButtonIcon1]="'fa-eye'" (customEvent1)="onOffer2()"></licky-lick-marketing-about-product7>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>