<div class="container mt-5 pt-5">
<h2>General Application Use</h2>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-breadcrumb"><span class="ta-small">selector:</span> licky-lick-app-widget-breadcrumb</h3>
<licky-lick-app-widget-breadcrumb></licky-lick-app-widget-breadcrumb>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-card-group"><span class="ta-small">selector:</span> licky-lick-app-widget-card-group</h3>
<licky-lick-app-widget-card-group></licky-lick-app-widget-card-group>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-chat"><span class="ta-small">selector:</span> licky-lick-app-widget-chat</h3>
<licky-lick-app-widget-chat></licky-lick-app-widget-chat>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-feed"><span class="ta-small">selector:</span> licky-lick-app-widget-feed</h3>
<licky-lick-app-widget-feed></licky-lick-app-widget-feed>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-list-badges"><span class="ta-small">selector:</span> licky-lick-app-widget-list-badges</h3>
<licky-lick-app-widget-list-badges></licky-lick-app-widget-list-badges>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-list-content"><span class="ta-small">selector:</span> licky-lick-app-widget-list-content</h3>
<licky-lick-app-widget-list-content></licky-lick-app-widget-list-content>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-list-icons"><span class="ta-small">selector:</span> licky-lick-app-widget-list-icons</h3>
<licky-lick-app-widget-list-icons></licky-lick-app-widget-list-icons>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-list-links"><span class="ta-small">selector:</span> licky-lick-app-widget-list-links</h3>
<licky-lick-app-widget-list-links></licky-lick-app-widget-list-links>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-list-order"><span class="ta-small">selector:</span> licky-lick-app-widget-list-order</h3>
<licky-lick-app-widget-list-order></licky-lick-app-widget-list-order>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-list-task"><span class="ta-small">selector:</span> licky-lick-app-widget-list-task</h3>
<licky-lick-app-widget-list-task></licky-lick-app-widget-list-task>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-messages"><span class="ta-small">selector:</span> licky-lick-app-widget-messages</h3>
<licky-lick-app-widget-messages></licky-lick-app-widget-messages>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-table-data"><span class="ta-small">selector:</span> licky-lick-app-widget-table-data</h3>
<licky-lick-app-widget-table-data></licky-lick-app-widget-table-data>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-totals"><span class="ta-small">selector:</span> licky-lick-app-widget-totals</h3>
<licky-lick-app-widget-totals></licky-lick-app-widget-totals>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-footer"><span class="ta-small">selector:</span> licky-lick-app-widget-footer</h3>
<licky-lick-app-widget-footer></licky-lick-app-widget-footer>
<hr>
<h3 class="widget-title ta-lower-case my-5" id="lick-app-widget-chat-popup"><span class="ta-small">selector:</span> licky-lick-app-widget-chat-popup</h3>
<licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
</div>
