<div class="bg0 p-tb-100">
    <div class="container">
        <form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th class="wow fadeInDown">Product</th>
                        <th class="wow fadeInDown">Price</th>
                        <th class="wow fadeInDown">Quantity</th>
                        <th class="wow fadeInDown">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <div class="pb-2 mr-2">
                                    <img src="https://via.placeholder.com/120x101" alt="IMG">
                                </div>

                                <span>
                                    Cheery
                                </span>
                            </div>
                        </td>
                        <td>
                            $ 18.00
                        </td>
                        <td>
                            <div class="wrap-num-product flex-w flex-m bg12 p-rl-10">

                                <input class="form-control form-control-lg ta-input-element" type="number" name="num-product1" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="flex-w flex-sb-m">
                                <span>
                                    36$
                                </span>

                                <div class="fs-15 hov-cl10 pointer">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>
                                <div class="pb-2 mr-2">
                                    <img src="https://via.placeholder.com/120x101" alt="IMG">
                                </div>

                                <span>
                                    Asparagus
                                </span>
                            </div>
                        </td>
                        <td>
                            $ 12.00
                        </td>
                        <td >
                            <div class="wrap-num-product flex-w flex-m bg12 p-rl-10">

                                <input class="form-control form-control-lg ta-input-element" type="number" name="num-product2" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="flex-w flex-sb-m">
                                <span>
                                    12$
                                </span>

                                <div class="fs-15 hov-cl10 pointer">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="flex-w flex-sb-m p-t-20">
                <div class="flex-w flex-m m-r-50 m-tb-10">
                    <input class="form-control form-control-lg ta-input-element" type="text" name="coupon" placeholder="Coupon Code">

                    <button class="btn btn-primary btn-lg btn-round">
                        Apply Coupon
                    </button>
                </div>

                <button class="btn btn-primary btn-lg btn-round">
                    Update Cart
                </button>
            </div>

            <div class="flex-col-l p-t-68">
                <h2>
                    CART TOTALS
                </h2>
                
                <h5>
                    <span>
                        Subtotal
                    </span>

                    <span>
                        48$
                    </span>
                </h5>

                <h4>
                    <span>
                        Total
                    </span>

                    <span>
                        48$
                    </span>
                </h4>

                <button class="btn btn-primary btn-lg btn-round">
                    Proceed to Checkout
                </button>
            </div>
        </form>
    </div>
</div>
