<licky-lick-marketing-menu *ngIf="!loggedIn"
                           [logo]="'assets/touch-icon-ipad.png'"
                           [logoName]="'16 AHEAD'"
                           [resendVerificationLink]="false"
                           [verified]="verified"
                           [verificationText]="verificationText"
                           [isExternalLink]="true"
                           [companyLink]="'https://www.16ahead.com/'"
                           (menuEvent)="onMenuEvent($event)"
                           [menuItems]="menuItems"></licky-lick-marketing-menu>
<licky-lick-marketing-menu *ngIf="loggedIn"
                           [logo]="'assets/touch-icon-ipad.png'"
                           [logoName]="'16 AHEAD'"
                           [resendVerificationLink]="false"
                           [verified]="verified"
                           [verificationText]="verificationText"
                           [isExternalLink]="true"
                           [companyLink]="'https://www.16ahead.com/'"
                           (menuEvent)="onMenuEvent($event)"
                           [menuItems]="loggedInMenuItems"></licky-lick-marketing-menu>
