<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <app-nav></app-nav>
    <licky-lick-marketing-header1 [button1Link]="null"
                                  [button2Link]="null"
                                  [headingText]="'Knowledge Management'"
                                  [descriptionText]="'Add whatever you want to track here (documents, photos, etc.) and our AI engine will take it from there.'"
                                  [imageSrc]="'assets/images/km1.jpg'"
                                  [featureBox1]="'Intelligent Insight'"
                                  [featureIcon1]="'icon-magnifier'"
                                  [featureBox2]="'Courses of Action'"
                                  [featureIcon2]="'icon-call-out'">
    </licky-lick-marketing-header1>
  </header>
</div>
<div id="content"
     class="site-content">
  <div id="primary"
       class="content-area">
    <main id="main"
          class="site-main">
      <licky-lick-marketing-about-product4 [headingText]="'Catalog and Cross Reference'"
                                           [descriptionText]="'Enter a note, upload a photo or document. Save hyperlinks and more. Build a knowledge catalog where our AI automatically generates a cross-reference or customize with your choice of keywords. The more you add, the more valuable the collection. Monetize your knowledge. Track what your information is worth.'"
                                           [buttonText]="null"
                                           [featureBadgeText3]="null"
                                           [featureBadgeText2]="null"
                                           [iconFeature1]="'icon-picture'"
                                           [iconFeature2]="'icon-docs'"
                                           [iconFeature3]="'icon-link'"
                                           [iconFeature4]="'icon-notebook'"
                                           [featureText1]="'Store Photos'"
                                           [featureText2]="'Upload Documents'"
                                           [featureText3]="'Paste Links'"
                                           [featureText4]="'Enter Notes'"></licky-lick-marketing-about-product4>
      <licky-lick-marketing-features5 [headingText]="'Features'"
                                      [descriptionText]="'A knowledge management system that emphasizes knowledge and value, offering you a set of features that complement intended use.'"
                                      [featureHeading1]="'Dashboard'"
                                      [featureDescription1]="'A panel displays the status, relevance, and value of your knowledge catalog.'"
                                      [featureIcon1]="'icon-speedometer'"
                                      [featureHeading2]="'Find'"
                                      [featureDescription2]="'Quickly find what you\'re looking for utilizing 16AHEAD\'s Find technology.'"
                                      [featureIcon2]="'icon-magnifier'"
                                      [featureHeading3]="'Integration'"
                                      [featureDescription3]="'Works seamlessly with the suite of 16AHEAD products.'"
                                      [featureIcon3]="'icon-options'"></licky-lick-marketing-features5>
      <licky-lick-marketing-how-to1 [descriptionText]="'Implementing these steps puts your business on the path to being more predictable.  A business owner or department manager willing to give time and attention to these steps will flourish.'"
                                    [header1]="'Sign Up'"
                                    [header2]="'Verify'"
                                    [header3]="'Login'"
                                    [description1]="'Provide a name, email address, password, and link to an avatar (the image you would like to use to depict yourself).'"
                                    [description2]="'After submission, you will receive an email to verify your email address.'"
                                    [description3]="'Once the email address verification is complete, you can log in and use the application.'"></licky-lick-marketing-how-to1>
      <licky-lick-marketing-try-it2 [headingText]="'Coming Late Fall'"
                                    [descriptionText]="'Upon launch, 100% garaunteed satisfaction.'"
                                    [buttonLink]="null"></licky-lick-marketing-try-it2>
      <licky-lick-marketing-faq2 [descriptionText]="'Below is a set of questions you might have about the software based on the frequency people have asked us.'"
                                 [faqHeading1]="'What makes this software different?'"
                                 [faqDescription1]="'Using artificial intelligence, we proactively suggest courses of action, based on the information in your knowledge base.'"
                                 [faqHeading2]="'Why should I try it?'"
                                 [faqDescription2]="'We help our customers know what\'s Next. We remove the frustration from having to login into multiple applications by offering a suite of tools.'"
                                 [faqHeading3]="'How will this software help me?'"
                                 [faqDescription3]="'Data analysis occurs on the backend, while software agents learn what is relevant to your business.'"
                                 [faqHeading4]="'When is the software available?'"
                                 [faqDescription4]="'We want to make sure the product is as close to perfect as possible before release. Check back often or help us expedite the release by signing up for our alpha version.'"></licky-lick-marketing-faq2>
    </main>
  </div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/about/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/about/terms'"
                              [buttonText4]="'Contact'"
                              [buttonLink4]="'/about/contact'"
                              [socialText1]="'Twitter'"
                              [socialText2]="'GitHub'"
                              [socialText3]="'YouTube'"
                              [socialText4]="null"
                              [socialText5]="null"
                              [socialLink1]="'https://twitter.com/16Ahead'"
                              [socialLink2]="'https://github.com/tshowers/licky-lick'"
                              [socialLink3]="'https://www.youtube.com/channel/UCmsqXdXkbD8Seh-kvHPApig'"
                              [socialLink4]="null"
                              [socialLink5]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-github'"
                              [socialIcon3]="'fa-youtube'"
                              [router]="router"></licky-lick-marketing-footer2>
