<licky-lick-app-widget-menu [router]="router"
                            [db]="dm.db"
                            [photoURL]="dm.photoURL"
                            [displayName]="dm.displayName"
                            [messageLink]="'/application/notification/messages'"
                            [alertLink]="'/application/notification/alerts'"
                            [taskLink]="'/application/notification/tasks'"
                            [emailAddress]="dm.emailAddress"
                            [loggedIn]="dm.loggedIn"
                            [userName]="dm.userName"
                            [emailVerified]="dm.emailVerified"
                            (settingsEvent)="onSettings()"
                            [placeholder]="'Find a Product . . .'"
                            (searchEvent)="onSearch($event)"
                            (profileEvent)="onViewProfile()"
                            [logoutPage]="'/application/logout'"
                            [loginService]="dm.loginService"></licky-lick-app-widget-menu>
<div class="app-body">
  <licky-lick-app-widget-left-side-menu [newsService]="dm.newsService"></licky-lick-app-widget-left-side-menu>
  <main class="main">
    <div class="container-fluid">
          <licky-lick-app-widget-breadcrumb [crumbs]="crumbs" (pageEvent)="onBreadCrumb($event)"></licky-lick-app-widget-breadcrumb>
          <app-context-nav [store]="store" [context]="'shoppingCart'"></app-context-nav>
          <licky-lick-app-widget-stats15 *ngIf="(data$ | async)?.length > 0"
            [total]="totalRecords"
            [headingText]="'Shopping Carts'"
                                         [iconClass1]="'fa fa-paperclip'"
                                         [count1]="uploadShoppingCarts"
                                         [countText1]="'With Attachment'"
                                         [iconClass2]="'fa fa-share-alt-square'"
                                         [count2]="sharedShoppingCarts"
                                         [countText2]="'Shared'"
                                         [iconClass3]="'fa fa-pencil-square-o'"
                                         [count3]="draftShoppingCarts"
                                         [countText3]="'Draft'"
                                         [iconClass4]="'fa fa-trash-o'"
                                         [count4]="deletedShoppingCarts"
                                         [countText4]="'Deleted'"
                                         (newItemEvent)="onNewItem()"
                                         [router]="router"></licky-lick-app-widget-stats15>
          <licky-lick-app-widget-table-data [data]="data$ | async"
                                            (newItemEvent)="onNewItem()"
                                            (detailEvent)="onDetail($event)"
                                            (deleteEvent)="onDelete($event)"
                                            (editEvent)="onEdit($event)"
                                            [headingText]="'ShoppingCarts'"
                                            [router]="router"
                                            [pageSize]="pageSize"
                                            [totalRecords]="totalRecords"
                                            (currentPageEvent)="newPage($event)"
                                            [path]="SHOPPING_CARTS"></licky-lick-app-widget-table-data>
    </div>
    <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
    <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
  </main>
  <licky-lick-app-widget-right-side-menu [panelHeaderText]="'Help'"
                                         [helpHeaderText]="'Shopping Cart List'"
                                         [descriptionText]="'This page displays a list of topics entered into the system.'"
                                         [header1]="'Find'"
                                         [description1]="'To find a specific topic, use the search box at the top of the screen.'"
                                         [header2]="'Actions'"
                                         [description2]="'You have the choice to edit, view or mark a topic for deletion - if your edit privileges allow.'"
                                         [header3]="'Deleted'"
                                         [description3]="'Deleted topics display as faint text.'"></licky-lick-app-widget-right-side-menu>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
