<licky-lick-app-widget-breadcrumb [crumbs]="crumbs" (pageEvent)="onBreadCrumb($event)">
</licky-lick-app-widget-breadcrumb>
<div class="card">
  <div class="card-body">
    <form #dataForm="ngForm" class="form-group">
      <div class="container-fluid">
        <div *ngIf="currentUpload">
          <div class="progress" *ngIf="currentUpload?.progress < 100">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
              [ngStyle]="{ 'width': currentUpload?.progress + '%' }">Progress: {{currentUpload?.name}} |
              {{currentUpload?.progress}}% Complete</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="store.name" #name="ngModel" id="name" name="name" placeholder="Store Name" type="text"
            class="form-control form-control-lg ta-input-element" required autofocus>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Name required
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <ckeditor [(ngModel)]="store.description" [editor]="Editor" #description="ngModel" id="description"
            name="description"></ckeditor>
        </div>
        <div class="form-group">
          <label for="stripeKey">Stripe Key</label>
          <input [(ngModel)]="store.stripeKey" #name="ngModel" id="stripeKey" name="stripeKey" placeholder="Stripe Key"
            type="password" class="form-control form-control-lg ta-input-element" required>
        </div>
        <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
          <label for="dataDraft"
            title="Draft indicates the record is not finished and should not be made public">Draft</label>
          <br>
          <ui-switch [(ngModel)]="store.draft" id="dataDraft" name="dataDraft"></ui-switch>
        </div>
        <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
          <label for="dataDeleted"
            title="Checking deleted marks the record as deleted, but does not remove the record from the database">Deleted</label>
          <br>
          <ui-switch [(ngModel)]="store.deleted" id="dataDeleted" name="dataDeleted"></ui-switch>
        </div>
        <div class="form-group"><label for="dataKeywords">Keywords</label> <input [(ngModel)]="store.keywords"
            id="dataKeywords" name="dataKeywords" type="text" class="form-control form-control-lg ta-input-element"
            placeholder="Enter keywords seperated by commas"></div>
        <licky-lick-app-widget-section-edit [data]="store"></licky-lick-app-widget-section-edit>
        <licky-lick-app-widget-drop-box [selectedFiles]="selectedFiles" [data]="store"
          (detectFileEvent)="detectFiles($event)" (deleteEvent)="deleteAttachment()"></licky-lick-app-widget-drop-box>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary btn-lg btn-round" (click)="onSubmit()" type="submit"
              [disabled]="!dataForm.form.valid" title="Submit to database">Save
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </button>
            <button *ngIf="canDelete" class="btn btn-danger btn-lg btn-round" (click)="onDelete();dataForm.reset()"
              [disabled]="!store.id">Delete
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>