<licky-lick-app-widget-generic-nav [links]="crumbs"></licky-lick-app-widget-generic-nav>
<div class="card">
  <div class="card-body">
    <form #dataForm="ngForm" class="form-group">
      <div class="container-fluid">
        <div *ngIf="currentUpload">
          <div class="progress" *ngIf="currentUpload?.progress < 100">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
              [ngStyle]="{ 'width': currentUpload?.progress + '%' }">Progress: {{currentUpload?.name}} |
              {{currentUpload?.progress}}% Complete</div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="form-group"> <label for="name">Name <i class="fa fa-info-circle text-info" aria-hidden="true" popoverTitle="Catalog Name" placement="right" ngbPopover="The catalog is the next step in setting up your store. After creating the catalog you will add products to the catalog. Give the catalog a name that logically groups products and services."></i></label> <input [(ngModel)]="catalog.name" #name="ngModel"
            id="name" name="name" placeholder="Catalog Name" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
            class="form-control form-control-lg ta-input-element" required autofocus>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Name required </div>
        </div>
        <div class="form-group"> <label for="description">Description <i class="fa fa-info-circle text-info" aria-hidden="true" popoverTitle="Description" placement="right" ngbPopover="Give you catalog a description so that shoppers clearly understand what they will find in the catalog."></i></label>
          <ckeditor [(ngModel)]="catalog.description" [editor]="Editor" #description="ngModel" id="description"
            name="description"></ckeditor>
        </div>
        <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
          <label for="dataDraft"
            title="Draft indicates the record is not finished and should not be made public">Draft <i class="fa fa-info-circle text-info" aria-hidden="true" popoverTitle="Drart" placement="right" ngbPopover="Draft means you are not ready for the rest of the world to see your catalog. Turning draft on makes your web catalog visible to all."></i></label>
          <br>
          <ui-switch [(ngModel)]="catalog.draft" id="dataDraft" name="dataDraft"></ui-switch>
        </div>
        <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
          <label for="dataDeleted"
            title="Checking deleted marks the record as deleted, but does not remove the record from the database">Deleted <i class="fa fa-info-circle text-info" aria-hidden="true" popoverTitle="Deleted" placement="right" ngbPopover="When deleted is enabled, this means your store is not visible to anyone but you, not even other team members. Deleted stores are not included in any statistics or reports."></i></label>
          <br>
          <ui-switch [(ngModel)]="catalog.deleted" id="dataDeleted" name="dataDeleted"></ui-switch>
        </div>
        <div class="form-group"><label for="dataKeywords">Keywords <i class="fa fa-info-circle text-info" aria-hidden="true" popoverTitle="Keywords" placement="right" ngbPopover="Keywords are single words seperated by commas that allow searching for you catalog easy. The more keywords, the easier your catalog will be to find."></i></label> <input [(ngModel)]="catalog.keywords"
            id="dataKeywords" name="dataKeywords" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off" class="form-control form-control-lg ta-input-element"
            placeholder="Enter keywords seperated by commas"></div>

        <licky-lick-app-widget-section-edit [data]="catalog"></licky-lick-app-widget-section-edit>
        <licky-lick-app-widget-drop-box [selectedFiles]="selectedFiles" [data]="catalog"
          (detectFileEvent)="detectFiles($event)" (deleteEvent)="deleteAttachment()"></licky-lick-app-widget-drop-box>


        <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary btn-lg btn-round" (click)="onSubmit()" type="submit"
              [disabled]="!dataForm.form.valid" title="Submit to database">Save
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </button>
            <button *ngIf="canDelete" class="btn btn-danger btn-lg btn-round" (click)="onDelete();dataForm.reset()"
              [disabled]="!catalog.id">Delete
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>