<licky-lick-app-widget-generic-nav [links]="crumbs"></licky-lick-app-widget-generic-nav>
<licky-lick-app-widget-stats15 *ngIf="(data$ | async)?.length > 0" [total]="totalRecords" [headingText]="'Products'"
  [iconClass1]="'fa fa-paperclip'" [count1]="uploadProducts" [countText1]="'With Attachment'"
  [iconClass2]="'fa fa-share-alt-square'" [count2]="sharedProducts" [countText2]="'Shared'"
  [iconClass3]="'fa fa-pencil-square-o'" [count3]="draftProducts" [countText3]="'Draft'" [iconClass4]="'fa fa-trash-o'"
  [count4]="deletedProducts" [countText4]="'Deleted'" (newItemEvent)="onNewItem()" [router]="router">
</licky-lick-app-widget-stats15>
<licky-lick-app-widget-table-data [data]="data$ | async" (newItemEvent)="onNewItem()" (detailEvent)="onDetail($event)"
  (deleteEvent)="onDelete($event)" (editEvent)="onEdit($event)" [headingText]="'Products'" [router]="router"
  [pageSize]="pageSize" [totalRecords]="totalRecords" (currentPageEvent)="newPage($event)" [path]="PRODUCTS">No Products Have Been Entered
</licky-lick-app-widget-table-data>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>