<licky-lick-marketing-menu *ngIf="!loggedIn"
                           [logo]="'assets/touch-icon-ipad.png'"
                           [logoName]="'16 AHEAD'"
                           [resendVerificationLink]="false"
                           [verified]="verified"
                           [verificationText]="verificationText"
                           (menuEvent)="onMenuEvent($event)"
                           [menuItems]="menuItems"></licky-lick-marketing-menu>
<licky-lick-marketing-menu *ngIf="loggedIn"
                           [logo]="'assets/touch-icon-ipad.png'"
                           [logoName]="'16 AHEAD'"
                           [resendVerificationLink]="true"
                           [verified]="verified"
                           [verificationText]="verificationText"
                           (menuEvent)="onMenuEvent($event)"
                           [profileLink]="profileLink"
                           [profileImage]="profileImage"
                           [displayName]="displayName"
                           [menuItems]="loggedInMenuItems"></licky-lick-marketing-menu>
