<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <app-nav></app-nav>
  </header>
</div>
<div id="content"
     class="site-content mt-md-5 pt-md-5">
  <div id="primary"
       class="content-area">
    <main id="main"
          class="site-main">
      <licky-lick-marketing-about-product6 [headingText]="'Development Doctrine'"
                                           [imageURL]="'assets/images/character1.png'"
                                           [featureText]="'In the works'"
                                           [iconFeature]="'icon-chemistry'"
                                           [descriptionText]="'<p>As advanced as computers are today, it is very disappointing that they are used merely for either information storage or information retrieval. I would have thought by now that software would have advanced to be more conversational. Where if I add data, post a link, or request a website, that is just the beginning of the dialog with the computer. Imagine if we talked to each other, the way we interact with computers. I tell you something; you store it your memory, but do not return a response other than OK,  submitted, or tell me a list of a thousand things based on a keyword?</p><p>
I believe computers should be providing continuous feedback like a real-world conversation. And most importantly, using the power it posses to provide meaningful responses and information. Adding a contact, or selling a product through my website should be the beginning of a dialog. The action of clicking submit is an indicator that I want to talk about the information I either requested or entered.</p><p>
Intelligent services are a set of software agents responding to the context of your submit click — a continuous dialog between you and the computer.</p><p>
The product roadmap is to develop a News, CRM, Communication, Project Management, e-Commerce, and Knowledge Management integrated suite of applications.  Implement intelligent services into each, then focus on the need for Finding instead of Searching.</p>'"></licky-lick-marketing-about-product6>
      <licky-lick-marketing-features3 [headingText]="'Products'"
                                      [imageURL]="'assets/images/connected.jpg'"
                                      [descriptionText]="'The products are under development. They are designed to complement each other and offer a workflow to increase productivity. Each product specializes in a particular paradigm, but the information is shared across the applications to train artificial intelligent agents that provide suggested courses of action.'"
                                      [featureHeading1]="'News'"
                                      [featureDescription1]="'The news service is more than just news. An artificial intelligent agent monitors the news against contacts to offer suggestions on who to contact and why.'"
                                      [featureIcon1]="'icon-notebook'"
                                      [featureHeading2]="'Contact'"
                                      [featureDescription2]="'Not your typical customer relationship management system. This customer relationship management system has a dashboard containing which people to contact and their value to the business.'"
                                      [featureIcon2]="'icon-user'"
                                      [featureHeading6]="'Knowledge'"
                                      [featureDescription6]="'You need a place to store individual and group knowledge. This knowledge is capital, and you should have an application to harvest, cultivate, and leverage this knowledge to your benefit. Background analysis creates connections you did not know to exist.'"
                                      [featureIcon6]="'icon-notebook'"
                                      [featureHeading4]="'Project'"
                                      [featureDescription4]="'Simple project management with just the facts on time and cost. Wouldn\'t it be nice to know the current project cost? How much budget is left?  What tasks are associated with the project? How much time remains until estimate completion?'"
                                      [featureIcon4]="'icon-briefcase'"
                                      [featureHeading5]="'e-Commerce'"
                                      [featureDescription5]="'Admittedly, not the best e-commerce solution, but gets the job done. The value to you is having an e-commerce platform tied to all other systems. The artificial intelligent agents scour all associated systems for parallels, relationships, and offers suggested courses of action for the e-commerce platform.'"
                                      [featureIcon5]="'icon-wallet'"
                                      [featureHeading3]="'Communication'"
                                      [featureDescription3]="'Since communication is a key business driver, chat, and email is integral to the business function. Having an interface integrated with all your systems allows for better customer service and customer management.'"
                                      [featureIcon3]="'icon-envelope-letter'"></licky-lick-marketing-features3>
      <licky-lick-marketing-features5 [descriptionText]="'Ever log into an application for the first time and wonder what to do? We believe that as soon as you log in to any of our applications, you intuitively know what to do.'"
                                      [featureHeading1]="'Simplicity'"
                                      [featureIcon1]="'icon-frame'"
                                      [featureDescription1]="'A standard interface across all applications reduces training and improves productivity.'"
                                      [featureHeading2]="'Workflow'"
                                      [featureDescription2]="'Knowing what to do next in the business process is often ad-hoc. We\'re striving to make operations less improvisational and more intuitive and structured.'"
                                      [featureIcon2]="'icon-direction'"
                                      [featureHeading3]="'Integration'"
                                      [featureIcon3]="'icon-refresh'"
                                      [featureDescription3]="'How can you truly know the value of data if all systems are separate? It just makes sense that data sharing occurs across ALL applications.'"></licky-lick-marketing-features5>
      <licky-lick-marketing-about-product5 [featureText]="'App Fatigue?'"
                                           [headingText]="'Shared Information'"
                                           [iconFeature]="'icon-puzzle'"
                                           [imageURL]="'assets/images/app-fatigue.jpg'"
                                           [descriptionText]="'16AHEAD is an integrated application utilizing software agents that attempt to learn your business. One of our goals is to develop a SaaS, Mission Operations Platform (MOP) scalable for the Enterprise and elastic for SMBs. Simple navigation by enabling up next workflow technology. Applications that intuitively help you accomplish your mission by answering the question: what\'s the status of my business right now?'"
                                           [buttonLink]="null"></licky-lick-marketing-about-product5>
      <licky-lick-marketing-parallax1 [headingText]="'Conversational Software'"
                                      [textColor]="'#ffffff'"
                                      [imageURL]="'assets/images/integrated-application.jpg'"
                                      [descriptionText]="'We believe that software is at the precipice of utility and should start moving in the direction of being more conversational. Once you enter data, the software should evaluate the data in context and respond with meaningful dialog. In thinking about data, most information resides in some system somewhere. Whatever data you\'re thinking about entering, it probably already exists in a software system. We are striving to make data entry old-fashion by ensuring our software agents learn. In theory, the more learned the agent, the less information that should be required.'"></licky-lick-marketing-parallax1>
      <licky-lick-marketing-faq2 [descriptionText]="'History is important because as I’m sure you\’re aware, the very best ideas can come from unexpected encounters. Ideas are incredibly fragile and are not predictable when they will materialize. So over the years, we have been cultivating our experiences into code which increases the probability of good ideas. Thus when we have ideas, we can nurture and mold those concepts into code that is beneficial to everyone.'"
                                 [faqHeading1]="'What is 16AHEAD?'"
                                 [faqDescription1]="'16AHEAD is a culmination of work experiences, where we create lots and lots of models and process functions. Where what we’re building should be inseparable. For every complete application you see we have to incorporate the creation process, intelligence with experimentation. We work very hard to create a single application that has many different business facets.'"
                                 [faqHeading2]="'Why not just focus on one thing?'"
                                 [faqDescription2]="'We have made it a practice to have our heads down and work. Ignore the reasons and critiques of why something shouldn’t be possible.  You would be surprised at the level of growth and change of 16AHEAD from its infancy. You understand the nature of business so much more when you know how your own business came to be. Hence, others will reap the rewards from us developing software for our own business.'"
                                 [faqHeading3]="'What is your vision?'"
                                 [faqDescription3]="'We intend to create software that is data-aware. We want to create a software product that disappears into the experience.  Developing software that performs several business processes together defines a whole new integration — making the boundary between software and business process hard to discern. The machine learning engine is engineered to ascertain the way you work. Separate applications give way to fluidity and transparency. No multiple logins. A single entry point takes you to real-time views of various business aspects.  Making processes and data more liquid.'"
                                 [faqHeading4]="'What do you hope to achieve?'"
                                 [faqDescription4]="'Our goal is to simplify and improve continuously.  From simple data entry to taking the pains out of searching, we blur the lines of machine learning and intuition that make data entry challenges disappear.  Each refinement attempts to bring unity to the business process. To define one truly uninterrupted form, we\'ve developed a whole new method to achieve seamless transition with our Next button.  Intelligent software agents adjust information required based on circumstance and stage.'">
      </licky-lick-marketing-faq2>
      <licky-lick-marketing-lightbox1 [headerText]="'Sneak Peak'"
                                      [descriptionText]="'Below are sample snapshots of what the application will probably look like.'"
                                      [images]="images"></licky-lick-marketing-lightbox1>
    </main>
  </div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/terms'"
                              [buttonLink4]="null"
                              [socialText1]="'Twitter'"
                              [socialText2]="'GitHub'"
                              [socialText3]="'YouTube'"
                              [socialText4]="null"
                              [socialText5]="null"
                              [socialLink1]="'https://twitter.com/16Ahead'"
                              [socialLink2]="'https://github.com/tshowers/licky-lick'"
                              [socialLink3]="'https://www.youtube.com/channel/UCmsqXdXkbD8Seh-kvHPApig'"
                              [socialLink4]="null"
                              [socialLink5]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-github'"
                              [socialIcon3]="'fa-youtube'"
                              [router]="router"></licky-lick-marketing-footer2>
