<licky-lick-app-widget-menu [router]="router"
                            [db]="dm.db"
                            [photoURL]="dm.photoURL"
                            [displayName]="dm.displayName"
                            [messageLink]="'/application/notification/messages'"
                            [alertLink]="'/application/notification/alerts'"
                            [taskLink]="'/application/notification/tasks'"
                            [cartLink]="'/application/shopping-carts'"
                            [isCart]="true"
                            [isAlertNotification]="false"
                            [isMessageNotification]="false"
                            [isTaskNotification]="false"
                            [emailAddress]="dm.emailAddress"
                            [loggedIn]="dm.loggedIn"
                            [userName]="dm.userName"
                            [emailVerified]="dm.emailVerified"
                            (settingsEvent)="onSettings()"
                            (searchEvent)="onSearch($event)"
                            (profileEvent)="onViewProfile()"
                            [logoutPage]="'/application/logout'"
                            [loginService]="dm.loginService"></licky-lick-app-widget-menu>
<div class="app-body">
  <licky-lick-app-widget-left-side-menu [newsService]="dm.newsService"></licky-lick-app-widget-left-side-menu>
  <main class="main">
    <div class="container-fluid">
          <licky-lick-app-widget-breadcrumb [crumbs]="crumbs" (pageEvent)="onBreadCrumb($event)"></licky-lick-app-widget-breadcrumb>
          <app-context-nav [store]="store" [catalog]="catalog" [context]="'catalog'"></app-context-nav>
          <licky-lick-app-widget-item-view1
            [data]="catalog"
            [details]="false"
            (editEvent)="onEdit()"
            (deleteEvent)="onDelete()"
            (customEvent)="onProducts()"
            [customButton]="true"
            [customButtonText]="'Browse Products in this Catalog'"
            [customButtonIcon]="'fa-eye'"
          ></licky-lick-app-widget-item-view1>

          <!-- <div>
            <div class="carousel-inner" *ngIf="catalog?.url">
              <div class="ta-store-header"> <img src="{{catalog?.url}}" alt="{{catalog?.name}}"> </div>
            </div>
            <div>
              <h1>{{catalog?.name}}</h1>
              <div innerHTML={{catalog?.description}}></div>
              <div class="row">
                <div class="col text-center">
                  <button *ngIf="canEdit" class="btn btn-primary btn-lg btn-round" (click)="onEdit()">Edit
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button> <button *ngIf="canDelete" class="btn btn-danger btn-lg btn-round" (click)="onDelete()">Delete
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="products && products?.length > 0">
              <div class="ta-row">
                <div class="col-4 offset-4"> <input type="text" [(ngModel)]="filter" class="form-control form-control-lg ta-input-element" placeholder="Type to search products"> </div>
              </div>
              <h2>Products</h2>
              <div class="row ta-row">
                <div class="col" style="margin-top: 10px" *ngFor="let p of products">
                  <div class="card" style="width: 22rem;"> <a routerLink="/app/stores/{{store.id}}/catalogs/{{catalog.id}}/products/{{p.id}}">
                      <img *ngIf="p?.url" class="card-img-top" src="{{p?.url}}" alt="{{p?.name}}" style="height: 220px">
                      <img *ngIf="!p?.url" class="card-img-top" src="{{NO_PHOTO}}" alt="{{p?.name}}" style="height: 220px">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title"> <a routerLink="/app/stores/{{store.id}}/catalogs/{{catalog.id}}/products/{{p.id}}">{{p?.name}}</a></h4>
                      <div innerHTML={{p?.description}}></div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" *ngIf="p?.longDescription">
                        <div innerHTML={{p?.longDescription}}></div>
                      </li>
                      <li class="list-group-item" *ngIf="p?.price">{{p?.price | currency:'USD':'symbol'}} <span *ngIf="p?.hourlyRate"> per hour</span> </li>
                      <li class="list-group-item" *ngIf="p?.manufacturer">{{p?.manufacturer}}</li>
                      <li class="list-group-item" *ngIf="p?.category">{{p?.category}}</li>
                      <li class="list-group-item" *ngIf="p?.leadTime">Turnaround Time - {{p?.leadTime}} days</li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <div>
              <div *ngIf="productBundles && (productBundles?.length > 0)">
                <h3>Product Bundles</h3>
                <div class="row ta-row">
                  <div class="col" *ngFor="let pb of productBundles">
                    <div class="card" style="width: 30rem;">
                      <div class="card-body"> <a *ngIf="pb?.url" routerLink="/app/stores/{{store.id}}/catalogs/{{catalog.id}}/product-bundles/{{pb.id}}"><img class="card-img-top" src="{{pb?.url}}" alt="{{pb?.name}}" style="height: 220px"></a>
                        <h4 class="card-title"><a routerLink="/app/stores/{{store.id}}/catalogs/{{catalog.id}}/product-bundles/{{pb.id}}">{{pb?.name}}</a></h4>
                        <div innerHTML={{pb?.description}}></div>
                        <p>Bundled Price <span class="badge badge-pill badge-theme ta-large">{{pb?.price | currency:'USD':'symbol'}}</span> <span *ngIf="pb?.hourlyRate"> per hour</span></p>
                      </div>
                      <div class="list-group" *ngIf="pb.products && (pb.products.length > 0)">
                        <div *ngFor="let pbp of pb.products; let i = index" class="list-group-item">
                          <div class="row">
                            <div class="col"> <strong>{{pbp?.name }}</strong> </div>
                            <div class="col"> {{ pbp.price | currency:'USD':'symbol' }} <span *ngIf="pbp.hourlyRate"> per hour</span></div>
                            <div class="col"> <img src="{{pbp?.url}}" alt="{{pbp?.name}}" class="ta-store-list-image"> </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div innerHTML={{pbp?.description}}></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->



    </div>
    <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
    <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
  </main>
  <licky-lick-app-widget-right-side-menu [panelHeaderText]="'Help'"
                                         [helpHeaderText]="'Phone Numbers'"
                                         [descriptionText]="'This page displays a list of phone numbers for a contact entered into the system.'"
                                         [header1]="'Multiple'"
                                         [description1]="'A contact can have multiple addresses.'"
                                         [header2]="'Actions'"
                                         [description2]="'You can either choose to edit, view more information about a contact or if you have permission, mark a contact for deletion.'"
                                         [header3]="'Deleted'"
                                         [description3]="'Deleted phone numbers display as faint text.'"></licky-lick-app-widget-right-side-menu>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
