<div *ngIf="!isHome; else home">
  <licky-lick-app-widget-menu [menuIcons]="homeMenu" [logo]="'assets/images/logo.png'" [photoURL]="dm.photoURL"
    [displayName]="dm.displayName" [isTaskNotification]="false" [isCart]="false" [emailAddress]="dm.emailAddress"
    [loggedIn]="dm.loggedIn" [userName]="dm.userName" [emailVerified]="dm.emailVerified" (settingsEvent)="onSettings()"
    [logoutPage]="'/logout'" [loginService]="dm.loginService" [companyName]="'AHEAD'"></licky-lick-app-widget-menu>
  <div class="app-body">
    <licky-lick-app-widget-left-side-menu [newsService]="newsService"></licky-lick-app-widget-left-side-menu>
    <main class="main">
      <div class="container-fluid">
        <hr>
        <h1>{{pageTitle}}</h1>
        <router-outlet></router-outlet>
      </div>
      <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
    </main>
    <licky-lick-app-widget-right-side-menu [panelHeaderText]="panelHeaderText" [helpHeaderText]="helpHeaderText" [descriptionText]="descriptionText" [faq]="faq"></licky-lick-app-widget-right-side-menu>
  </div>
  <licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
</div>
<ng-template #home>
  <router-outlet></router-outlet>
</ng-template>
