<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <app-nav></app-nav>
    <licky-lick-marketing-header3 [buttonLink1]="null"
                                  [buttonLink2]="null"
                                  [heading]="'16 AHEAD'"
                                  [headerText]="'Customer Relationship Management'"
                                  [descriptionText]="'We tried to re-imagine how software could help you with customer relationships. What if software actively showed you which customers to contact and why? What if the software dynamically showed some contacts in a state of neglect?'"
                                  [imageURL1]="'assets/images/crm2.jpg'"
                                  [imageURL2]="null">
    </licky-lick-marketing-header3>
  </header>
</div>
<div id="content"
     class="site-content">
  <div id="primary"
       class="content-area">
    <main id="main"
          class="site-main">
      <licky-lick-marketing-features2 [headingText]="'Automation'"
                                      [descriptionText]="'Is it automation if you have to do all the work of keeping track of customers?  We believe in exploiting the full power of Artificial Intelligence to examine all information related to a customer, such as their preferences, how much they\'ve purchased, how many times the customer shows up on your calendar or how many projects relate to the customer.'"
                                      [featureHeading1]="'Analysis'"
                                      [featureDescription1]="'Active software agents work in the background analyzing data across services to present information to use to strengthen relationships. '"
                                      [featureHeading2]="'Collection'"
                                      [featureDescription2]="'The more information provided to our services, such as the news service, e-commerce service or calendar service, the smarter and more helpful the CRM service becomes.'"
                                      [featureHeading3]="'Sharing'"
                                      [featureDescription3]="'An open CRM system, where contacts are shared can be more valuable than a closed CRM.'">
      </licky-lick-marketing-features2>
      <licky-lick-marketing-about-product3 [badgeText]="null"
                                           [headingText]="'Conversational Systems'"
                                           [descriptionText]="'People spend a lot of time entering information in systems, that\'s no fun, and we are perfectly aware of this problem.  When data is entered into computer systems, there should be an exponential return of useful information by the system.'"
                                           [bulletText1]="'Enter'"
                                           [bulletText2]="'Process'"
                                           [bulletText3]="'Recieve'"
                                           [imageURL1]="'assets/images/crm4.jpg'"
                                           [imageURL2]="'assets/images/crm5.jpg'"
                                           [buttonLink]="null"></licky-lick-marketing-about-product3>
      <licky-lick-marketing-parallax1 [headingText]="'The life blood of business'"
                                      [descriptionText]="'Customers are what keeps a business established and growing. The company that recognizes this value exceeds. We realize the time-consuming nature of customer relationships; that is why we gave a careful review of what artificial intelligence could offer in determining the level of contact needed for each customer.'"
                                      [imageURL]="'assets/images/crm1.jpg'"
                                      [textColor]="'#fff'"></licky-lick-marketing-parallax1>
      <licky-lick-marketing-faq2 [descriptionText]="'A company loses customers far more than they should. The only real way to measure and keep customers is to know their value. We let you know the measure of each contact.'"
                                 [faqHeading1]="'What makes this software different?'"
                                 [faqDescription1]="'Using artificial intelligence, we proactively suggest courses of action, such as who is essential to contact today.'"
                                 [faqHeading2]="'Why should I try it?'"
                                 [faqDescription2]="'We help our customers know what\'s Next. We remove the frustration from having to login into multiple applications by offering a suite of tools.'"
                                 [faqHeading3]="'How will this software help me?'"
                                 [faqDescription3]="'Data analysis occurs on the backend, while software agents learn what is relevant to your business.'"
                                 [faqHeading4]="'When is the software available?'"
                                 [faqDescription4]="'We want to make sure the product is as close to perfect as possible before release. Check back often or help us expedite the release by signing up for our alpha version.'"></licky-lick-marketing-faq2>
      <licky-lick-marketing-how-to1 [descriptionText]="'Implementing these steps puts your business on the path to being more predictable.  A business owner or department manager willing to give time and attention to these steps will flourish.'"
                                    [header1]="'Sign Up'"
                                    [header2]="'Verify'"
                                    [header3]="'Login'"
                                    [description1]="'Provide a name, email address, password, and link to an avatar (the image you would like to use to depict yourself).'"
                                    [description2]="'After submission, you will receive an email to verify your email address.'"
                                    [description3]="'Once the email address verification is complete, you can log in and use the application.'"></licky-lick-marketing-how-to1>
      <licky-lick-marketing-try-it2 [headingText]="'Coming Late Fall'"
                                    [descriptionText]="'Upon launch, 100% garaunteed satisfaction or your money back.'"
                                    [buttonLink]="null"></licky-lick-marketing-try-it2>
    </main>
  </div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/about/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/about/terms'"
                              [buttonText4]="'Contact'"
                              [buttonLink4]="'/about/contact'"
                              [socialText1]="'Twitter'"
                              [socialText2]="'GitHub'"
                              [socialText3]="'YouTube'"
                              [socialText4]="null"
                              [socialText5]="null"
                              [socialLink1]="'https://twitter.com/16Ahead'"
                              [socialLink2]="'https://github.com/tshowers/licky-lick'"
                              [socialLink3]="'https://www.youtube.com/channel/UCmsqXdXkbD8Seh-kvHPApig'"
                              [socialLink4]="null"
                              [socialLink5]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-github'"
                              [socialIcon3]="'fa-youtube'"
                              [router]="router"></licky-lick-marketing-footer2>
