<licky-lick-app-widget-menu [router]="router"
                            [db]="dm.db"
                            [photoURL]="dm.photoURL"
                            [displayName]="dm.displayName"
                            [messageLink]="'/application/notification/messages'"
                            [alertLink]="'/application/notification/alerts'"
                            [taskLink]="'/application/notification/tasks'"
                            [cartLink]="'/application/shopping-carts'"
                            [isCart]="true"
                            [isAlertNotification]="false"
                            [isMessageNotification]="false"
                            [isTaskNotification]="false"
                            [emailAddress]="dm.emailAddress"
                            [loggedIn]="dm.loggedIn"
                            [userName]="dm.userName"
                            [emailVerified]="dm.emailVerified"
                            (settingsEvent)="onSettings()"
                            [placeholder]="'Find a Product . . .'"
                            (searchEvent)="onSearch($event)"
                            (profileEvent)="onViewProfile()"
                            [logoutPage]="'/application/logout'"
                            [loginService]="dm.loginService"></licky-lick-app-widget-menu>
<div class="app-body">
  <licky-lick-app-widget-left-side-menu [newsService]="dm.newsService"></licky-lick-app-widget-left-side-menu>
  <main class="main">
    <div class="container-fluid">
      <licky-lick-app-widget-breadcrumb [crumbs]="crumbs"
                                        (pageEvent)="onBreadCrumb($event)"></licky-lick-app-widget-breadcrumb>
      <licky-lick-marketing-about-product7 [imageURL]="store?.url"
                                           [headingText]="store?.name"
                                           [descriptionText]="store?.description"
                                           [instructionText]="store?.keywords"
                                           [customButtonText1]="'Edit'"
                                           [customButtonIcon1]="'fa-pencil-square-o'"
                                           (customEvent1)="onEdit()"
                                           [customButtonText2]="'Browse My Catalogs'"
                                           [customButtonIcon2]="'fa-eye'"
                                           (customEvent2)="onCatalog()"></licky-lick-marketing-about-product7>
      <licky-lick-marketing-about-product5 *ngIf="offer1"
                                           [imageURL]="offer1?.url"
                                           [iconFeature]="'icon-tag'"
                                           [featureText]="'Featured Offer'"
                                           [headingText]="offer1?.name"
                                           [descriptionText]="offer1?.longDescription"
                                           [buttonText]="null"
                                           [buttonLink]="null"
                                           [customButtonText1]="'Learn More'"
                                           [customButtonIcon1]="'fa-eye'"
                                           (customEvent1)="onOffer1()"></licky-lick-marketing-about-product5>
      <licky-lick-marketing-prices2 [headingText]="'Featured Products'"
                                    [descriptionText]="'Below are some of the items you can have NedRa\'s collection of quilt images placed. Click the View Details button to learn more about the item.'"
                                    [actionText]="'View Details'"
                                    (pageEvent)="onProduct($event)"
                                    [products]="products"></licky-lick-marketing-prices2>
      <licky-lick-marketing-about-product7 *ngIf="offer2"
                                           [imageURL]="offer2?.url"
                                           [headingText]="offer2?.name"
                                           [descriptionText]="offer2?.longDescription"
                                           [instructionText]="offer2?.keywords"
                                           [customButtonText1]="'Learn More'"
                                           [customButtonIcon1]="'fa-eye'"
                                           (customEvent1)="onOffer2()"></licky-lick-marketing-about-product7>
      <licky-lick-marketing-lightbox1 [headerText]="store?.name + ' Work'"
                                      [descriptionText]="'Click on an image below to activate a lightbox. Upon clicking a translucent background is revealed which is used lay images upon to be seen with a higher contrast.'"
                                      [images]="images"></licky-lick-marketing-lightbox1>
    </div>
    <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
    <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
  </main>
  <licky-lick-app-widget-right-side-menu [panelHeaderText]="'Help'"
                                         [helpHeaderText]="'Product List'"
                                         [descriptionText]="'This page displays a list of topics entered into the system.'"
                                         [header1]="'Find'"
                                         [description1]="'To find a specific topic, use the search box at the top of the screen.'"
                                         [header2]="'Actions'"
                                         [description2]="'You have the choice to edit, view or mark a topic for deletion - if your edit privileges allow.'"
                                         [header3]="'Deleted'"
                                         [description3]="'Deleted topics display as faint text.'"></licky-lick-app-widget-right-side-menu>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
