<licky-lick-app-widget-menu [router]="router"
                            [db]="dm.db"
                            [photoURL]="dm.photoURL"
                            [displayName]="dm.displayName"
                            [emailAddress]="dm.emailAddress"
                            [messageLink]="'/application/notification/messages'"
                            [alertLink]="'/application/notification/alerts'"
                            [taskLink]="'/application/notification/tasks'"
                            [isCart]="false"
                            [isAlertNotification]="true"
                            [isMessageNotification]="false"
                            [isTaskNotification]="false"
                            [loggedIn]="dm.loggedIn"
                            [userName]="dm.userName"
                            [emailVerified]="dm.emailVerified"
                            (settingsEvent)="onSettings()"
                            (searchEvent)="onSearch($event)"
                            (profileEvent)="onViewProfile()"
                            [logoutPage]="'/application/logout'"
                            [loginService]="dm.loginService"></licky-lick-app-widget-menu>
<div class="app-body">
  <licky-lick-app-widget-left-side-menu [newsService]="dm.newsService"></licky-lick-app-widget-left-side-menu>
  <main class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <licky-lick-app-widget-breadcrumb [crumbs]="crumbs"
                                            (pageEvent)="onBreadCrumb($event)"></licky-lick-app-widget-breadcrumb>
          <div class="card mx-auto d-block ta-max-view">
            <div>
              <agm-map *ngIf="latitude && longitude"
                       style="height: 15rem"
                       [latitude]="latitude"
                       [styles]="styles"
                       [longitude]="longitude"
                       [scrollwheel]="false"
                       [zoom]="zoom">
                <agm-marker [latitude]="latitude"
                            [longitude]="longitude"></agm-marker>
              </agm-map>
            </div>
            <div class="card-header">
              <a title="Go To Contact"
                 routerLink="/application/contacts/{{contact?.id}}">
                <h4 class="my-0 font-weight-normal"><span *ngIf="contact?.company"><strong>{{contact?.company.name}}</strong>
                    <br></span>
                  <span *ngIf="contact"> {{contact?.firstName}}
                    {{contact?.lastName}}</span>
                  <i class="fa fa-link"
                     aria-hidden="true"></i></h4>
              </a>
            </div>
            <div class="card-body">
              <address>
                {{address?.streetAddress}} <br>
                {{address?.city}} {{address?.state}} {{address?.zip}} <br>
                {{address?.county}}
                {{ address?.country }} <br>
                <strong>{{ address?.addressType}}</strong>
              </address>
              <button
                      class="btn btn-primary btn-lg btn-round"
                      (click)="onEdit()">Edit <i class="fa fa-pencil-square-o"
                   aria-hidden="true"></i>
              </button> <button *ngIf="(!address.deleted)"
                      class="btn btn-danger btn-lg btn-round"
                      (click)="onDelete()">Delete <i class="fa fa-times"
                   aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
    <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
  </main>
  <licky-lick-app-widget-right-side-menu [panelHeaderText]="'Help'"
                                         [helpHeaderText]="'Address View'"
                                         [descriptionText]="'This page displays a single address entered into the system.'"
                                         [header1]="'Maps'"
                                         [description1]="'A map of the address allows you to better understand the surroundings.'"
                                         [header2]="'Actions'"
                                         [description2]="'You can either choose to edit, view more information about a contact or if you have permission, mark a address for deletion.'"
                                         [header3]="'Deleted'"
                                         [description3]="'Deleted addresses display as faint text.'"></licky-lick-app-widget-right-side-menu>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
