<licky-lick-app-widget-generic-nav [links]="crumbs"></licky-lick-app-widget-generic-nav>

<licky-lick-app-widget-item-view1 [data]="order" [details]="true" (editEvent)="onEdit()" (deleteEvent)="onDelete()"
   [customButton]="false" [isShowPhoto]="false"
  [customButtonIcon]="'fa-eye'"></licky-lick-app-widget-item-view1>


<!-- <div class="container">
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <div>
        <div class="col"><span class="ta-label">order id</span> </div>
        <div class="col">{{order.id}}</div>
      </div>
    </div>
    <div class="list-group-item" *ngIf="order.orderDate">
      <div>
        <div class="col"><span class="ta-label">date</span> </div>
        <div class="col">{{order?.orderDate | date}}</div>
      </div>
    </div>
    <div class="list-group-item" *ngIf="order.status">
      <div>
        <div class="col"><span class="ta-label">status</span> </div>
        <div class="col">{{order?.status}}</div>
      </div>
    </div>
    <div class="list-group-item" *ngIf="order.store_id">
      <div>
        <div class="col"><span class="ta-label">store</span> </div>
        <div class="col">{{order?.store_id}}</div>
      </div>
    </div>
    <div class="list-group-item" *ngIf="order.contact_id">
      <div>
        <div class="col"><span class="ta-label">contact</span> </div>
        <div class="col">{{order?.contact_id}}
        </div>
      </div>
    </div>
    <div class="list-group-item" *ngIf="order.fop_id && canDelete">
      <div *ngIf="order.address_id">
        <div class="col"><span class="ta-label">address</span> </div>
        <div class="col">{{order?.address_id}}
          </div>
      </div>
    </div>
    <div class="list-group-item">
      <div>
        <div class="col"><span class="ta-label">form of Payment</span> </div>
        <div class="col">{{order?.fop_id}}
        </div>
      </div>
    </div>
    <div class="list-group-item" *ngIf="order.shopping_cart_id">
      <div>
        <div class="col"><span class="ta-label">cart</span> </div>
        <div class="col">{{order?.shopping_cart_id}} </div>
      </div>
    </div>
    <div class="list-group-item" *ngIf="order.catalog_id">
      <div>
        <div class="col"><span class="ta-label">catalog</span> </div>
        <div class="col">{{order?.catalog_id}}
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div>
        <div class="col"><span class="ta-label">order amount</span> </div>
        <div class="col"><span
            class="badge badge-pill badge-theme ta-large">{{order?.amount | currency:'USD':'symbol'}}</span></div>
      </div>
    </div>
    <div class="list-group-item">
      <div>
        <div class="col"><span class="ta-label">tax</span> </div>
        <div class="col"><span
            class="badge badge-pill badge-theme ta-large">{{order?.tax | currency:'USD':'symbol'}}</span></div>
      </div>
    </div>
    <div class="list-group-item">
      <ul class="list-group" *ngIf="order && order.orderLine && order.orderLine.length > 0">
        <li class="list-group-item" *ngFor="let p of order.orderLine">
          <div class="row">
            <div class="col"><img src="{{p?.product.url}}" alt="{{p?.product.name}}" height="100" class="img-thumbnail">
            </div>
            <div class="col">{{p?.quantity}} <strong>{{p?.product.name}}</strong>
                <div innerHTML={{p?.product.description}}></div>
                <div innerHTML={{p?.product.longDescripton}}></div>
               </div>
            <div class="col" *ngIf="!p.product.onSale"><span
                class="badge badge-pill badge-theme">{{p?.product.price | currency:'USD':'symbol' }}</span></div>
            <div class="col" *ngIf="p.product.onSale"><span
                class="badge badge-pill badge-theme">{{p?.product.salePrice | currency:'USD':'symbol' }}</span></div>
            <div class="col">{{p?.product.category}}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row" *ngIf="canDelete">
      <div class="col text-center">
        <button class="btn btn-danger btn-lg btn-round" (click)="onDelete()">Delete
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div> -->
  <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
