<licky-lick-app-widget-breadcrumb [crumbs]="crumbs" [context]="store?.name + ' / ' + catalog?.name" (pageEvent)="onBreadCrumb($event)">
</licky-lick-app-widget-breadcrumb>
<div class="card">
  <div class="card-body">
    <form #dataForm="ngForm" class="form-group">
      <div class="container-fluid">
        <div *ngIf="currentUpload">
          <div class="progress" *ngIf="currentUpload?.progress < 100">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
              [ngStyle]="{ 'width': currentUpload?.progress + '%' }">Progress: {{currentUpload?.name}} |
              {{currentUpload?.progress}}% Complete</div>
          </div>
        </div>
        <div class="form-group"> <label for="productName">Name</label> <input [(ngModel)]="product.name"
            #productName="ngModel" id="productName" name="productName" placeholder="Product Name" type="text"
            class="form-control form-control-lg input-element" required autofocus>
          <div [hidden]="productName.valid || productName.pristine" class="alert alert-danger"> <i
              class="fa fa-exclamation-triangle" aria-hidden="true"></i> Product name required </div>
        </div>
        <div class="form-group"> <label for="productDescription">Description</label>
            <ckeditor [(ngModel)]="product.description" [editor]="Editor1" #description="ngModel" id="description"
            name="description"></ckeditor>
          </div>
        <div class="form-group"> <label for="longDescription">Long Description</label>
          <ckeditor [(ngModel)]="product.longDescription" [editor]="Editor2" #longDescription="ngModel" id="longDescription"
          name="longDescription"></ckeditor>

        </div>
        <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
          <label for="dataDraft"
            title="Draft indicates the record is not finished and should not be made public">Draft</label>
          <br>
          <ui-switch [(ngModel)]="product.draft" id="dataDraft" name="dataDraft"></ui-switch>
        </div>
        <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
          <label for="dataDeleted"
            title="Checking deleted marks the record as deleted, but does not remove the record from the database">Deleted</label>
          <br>
          <ui-switch [(ngModel)]="product.deleted" id="dataDeleted" name="dataDeleted"></ui-switch>
        </div>
        <div class="form-group"><label for="dataKeywords">Keywords</label> <input [(ngModel)]="product.keywords"
            id="dataKeywords" name="dataKeywords" type="text" class="form-control form-control-lg ta-input-element"
            placeholder="Enter keywords seperated by commas"></div>
        <div class="form-group"> <label for="category">Category</label> <select [(ngModel)]="product.category"
            name="category" id="category" class="form-control form-control-lg input-element">
            <option value=""></option>
            <option *ngFor="let c of categories" value="{{c.name}}">{{c.name}}</option>
          </select> </div>
        <div class="form-group"> <label for="orderQuantity">Order Quantity</label> <input
            [(ngModel)]="product.orderQuantity" #orderQuantity="ngModel" id="orderQuantity" name="orderQuantity"
            placeholder="How many can be ordered" type="text" class="form-control form-control-lg input-element"> </div>
        <div class="form-group"> <label for="sku">SKU</label> <input [(ngModel)]="product.sku" #sku="ngModel" id="sku"
            name="sku" placeholder="SKU" type="text" class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="manufacturer">Manufacturer</label> <input
            [(ngModel)]="product.manufacturer" #manufacturer="ngModel" id="manufacturer" name="manufacturer"
            placeholder="Manufacturer" type="text" class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="author">Author</label> <input [(ngModel)]="product.author"
            #author="ngModel" id="author" name="author" placeholder="Author or Creator" type="text"
            class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="discontinued">Discontinued?</label> 
          <br>
          <ui-switch [(ngModel)]="product.discontinued" id="discontinued" name="discontinued"></ui-switch>

          <!-- <input
            [(ngModel)]="product.discontinued" #discontinued="ngModel" id="discontinued" name="discontinued"
            type="checkbox" class="form-control form-control-lg input-element"> -->
          </div>
        <div class="form-group"> <label for="price">Price</label> <input [(ngModel)]="product.price" #price="ngModel"
            id="price" name="price" placeholder="Price" type="number"
            class="form-control form-control-lg input-element"></div>
        <div class="form-group"><label for="hourlyRate">Hourly Price</label> 
          <br>
          <ui-switch [(ngModel)]="product.hourlyRate" id="hourlyRate" name="hourlyRate"></ui-switch>

          <!-- <input [(ngModel)]="product.hourlyRate"
            #hourlyRate="ngModel" id="hourlyRate" name="hourlyRate" type="checkbox"
            class="form-control form-control-lg input-element"> -->
          </div>
        <div class="form-group"> <label for="onSale">On Sale?</label> 
          <br>
          <ui-switch [(ngModel)]="product.onSale" id="onSale" name="onSale"></ui-switch>
          <!-- <input [(ngModel)]="product.onSale"
            #onSale="ngModel" id="onSale" name="onSale" type="checkbox"
            class="form-control form-control-lg input-element"> -->
          </div>
        <div class="form-group"> <label for="salePrice">Sale Price</label> 
          <input [(ngModel)]="product.salePrice"
            #salePrice="ngModel" id="salePrice" name="salePrice" placeholder="Sale Price" type="number"
            class="form-control form-control-lg input-element">
          </div>
        <div class="form-group"> <label for="subscription">Subscription?</label> 
          <br>
          <ui-switch [(ngModel)]="product.subscription" id="subscription" name="subscription"></ui-switch>
          <!-- <input
            [(ngModel)]="product.subscription" #subscription="ngModel" id="subscription" name="subscription"
            type="checkbox" class="form-control form-control-lg input-element"> -->
          </div>
        <div class="form-group"> <label for="height">Height</label> <input [(ngModel)]="product.height"
            #height="ngModel" id="height" name="height" placeholder="Height" type="number"
            class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="width">Width</label> <input [(ngModel)]="product.width" #width="ngModel"
            id="width" name="width" placeholder="Width" type="number"
            class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="weight">Weight</label> <input [(ngModel)]="product.weight"
            #weight="ngModel" id="weight" name="weight" placeholder="Weight" type="number"
            class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="length">Length</label> <input [(ngModel)]="product.length"
            #length="ngModel" id="length" name="length" placeholder="Length" type="number"
            class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="unitsOnOrder">Units on Order</label> <input
            [(ngModel)]="product.unitsOnOrder" #unitsOnOrder="ngModel" id="unitsOnOrder" name="unitsOnOrder"
            placeholder="Units on Order" type="number" class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="unitsInStock">Units in Stock</label> <input
            [(ngModel)]="product.unitsInStock" #unitsInStock="ngModel" id="unitsInStock" name="unitsInStock"
            placeholder="Units in Stock" type="number" class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="reOrderLevel">Re-order Level</label> <input
            [(ngModel)]="product.reOrderLevel" #reOrderLevel="ngModel" id="reOrderLevel" name="reOrderLevel"
            placeholder="Reorder Level" type="number" class="form-control form-control-lg input-element"></div>
        <div class="form-group"> <label for="leadTime">Lead Time</label> <input [(ngModel)]="product.leadTime"
            #leadTime="ngModel" id="leadTime" name="leadTime" placeholder="Lead Time" type="number"
            class="form-control form-control-lg input-element"></div>

            <licky-lick-app-widget-section-edit [data]="product"></licky-lick-app-widget-section-edit>
            <licky-lick-app-widget-drop-box [selectedFiles]="selectedFiles" [data]="product"
            (detectFileEvent)="detectFiles($event)" (deleteEvent)="deleteAttachment()"></licky-lick-app-widget-drop-box>
              <div class="row">
          <div class="col text-center"> <button class="btn btn-primary btn-lg btn-round" (click)="onSubmit()"
              type="submit" [disabled]="!dataForm.form.valid" title="Submit to database">Save
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </button>
            <button *ngIf="canDelete" class="btn btn-danger btn-lg btn-round" (click)="onDelete();dataForm.reset()"
              [disabled]="!product.id">Delete
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>