<!-- Product detail -->
<licky-lick-marketing-product1></licky-lick-marketing-product1>
<!-- Related product -->
<section class="sec-related bg0 p-b-85">
	<div class="container">
		<!-- slide9 -->
		<div class="wrap-slick9">
			<div class="flex-w flex-sb-m p-b-33 p-rl-15">
				<h3>
					RELATED PRODUCTS
				</h3>

			</div>
			<div class="row">
				<div class="col">
					<div class="block1">
						<div class="block1-bg wrap-pic-w bo-all-1 bocl12 hov3 trans-04">
							<img src="https://via.placeholder.com/720x947" alt="IMG">

							<div class="block1-content flex-col-c-m p-b-46">
								<a href="product-single.html"
									class="txt-m-103 cl3 txt-center hov-cl10 trans-04 js-name-b1">
									Strawberry
								</a>

								<span class="block1-content-more txt-m-104 cl9 p-t-21 trans-04">
									23$
								</span>

								<div class="block1-wrap-icon flex-c-m flex-w trans-05">
									<a href="product-single.html" class="block1-icon flex-c-m wrap-pic-max-w">
										<i class="fa fa-eye text-white" aria-hidden="true"></i>
									</a>

									<a href="#" class="block1-icon flex-c-m wrap-pic-max-w js-addcart-b1">
										<i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
									</a>

									<a href="wishlist.html" class="block1-icon flex-c-m wrap-pic-max-w js-addwish-b1">
										<i class="fa fa-heart-o text-white" aria-hidden="true"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="block1">
						<div class="block1-bg wrap-pic-w bo-all-1 bocl12 hov3 trans-04">
							<img src="https://via.placeholder.com/720x947" alt="IMG">

							<div class="block1-content flex-col-c-m p-b-46">
								<a href="product-single.html"
									class="txt-m-103 cl3 txt-center hov-cl10 trans-04 js-name-b1">
									Strawberry
								</a>

								<span class="block1-content-more txt-m-104 cl9 p-t-21 trans-04">
									23$
								</span>

								<div class="block1-wrap-icon flex-c-m flex-w trans-05">
									<a href="product-single.html" class="block1-icon flex-c-m wrap-pic-max-w">
										<i class="fa fa-eye text-white" aria-hidden="true"></i>
									</a>

									<a href="#" class="block1-icon flex-c-m wrap-pic-max-w js-addcart-b1">
										<i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
									</a>

									<a href="wishlist.html" class="block1-icon flex-c-m wrap-pic-max-w js-addwish-b1">
										<i class="fa fa-heart-o text-white" aria-hidden="true"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="block1">
						<div class="block1-bg wrap-pic-w bo-all-1 bocl12 hov3 trans-04">
							<img src="https://via.placeholder.com/720x947" alt="IMG">

							<div class="block1-content flex-col-c-m p-b-46">
								<a href="product-single.html"
									class="txt-m-103 cl3 txt-center hov-cl10 trans-04 js-name-b1">
									Strawberry
								</a>

								<span class="block1-content-more txt-m-104 cl9 p-t-21 trans-04">
									23$
								</span>

								<div class="block1-wrap-icon flex-c-m flex-w trans-05">
									<a href="product-single.html" class="block1-icon flex-c-m wrap-pic-max-w">
										<i class="fa fa-eye text-white" aria-hidden="true"></i>
									</a>

									<a href="#" class="block1-icon flex-c-m wrap-pic-max-w js-addcart-b1">
										<i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
									</a>

									<a href="wishlist.html" class="block1-icon flex-c-m wrap-pic-max-w js-addwish-b1">
										<i class="fa fa-heart-o text-white" aria-hidden="true"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="block1">
						<div class="block1-bg wrap-pic-w bo-all-1 bocl12 hov3 trans-04">
							<img src="https://via.placeholder.com/720x947" alt="IMG">

							<div class="block1-content flex-col-c-m p-b-46">
								<a href="product-single.html"
									class="txt-m-103 cl3 txt-center hov-cl10 trans-04 js-name-b1">
									Strawberry
								</a>

								<span class="block1-content-more txt-m-104 cl9 p-t-21 trans-04">
									23$
								</span>

								<div class="block1-wrap-icon flex-c-m flex-w trans-05">
									<a href="product-single.html" class="block1-icon flex-c-m wrap-pic-max-w">
										<i class="fa fa-eye text-white" aria-hidden="true"></i>
									</a>

									<a href="#" class="block1-icon flex-c-m wrap-pic-max-w js-addcart-b1">
										<i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
									</a>

									<a href="wishlist.html" class="block1-icon flex-c-m wrap-pic-max-w js-addwish-b1">
										<i class="fa fa-heart-o text-white" aria-hidden="true"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Subscribe -->
<licky-lick-marketing-newsletter1></licky-lick-marketing-newsletter1>