<licky-lick-app-widget-menu [router]="router"
                            [db]="dm.db"
                            [photoURL]="dm.photoURL"
                            [displayName]="dm.displayName"
                            [messageLink]="'/application/notification/messages'"
                            [alertLink]="'/application/notification/alerts'"
                            [taskLink]="'/application/notification/tasks'"
                            [cartLink]="'/application/shopping-carts'"
                            [isCart]="true"
                            [isAlertNotification]="false"
                            [isMessageNotification]="false"
                            [isTaskNotification]="false"
                            [emailAddress]="dm.emailAddress"
                            [loggedIn]="dm.loggedIn"
                            [userName]="dm.userName"
                            [emailVerified]="dm.emailVerified"
                            (settingsEvent)="onSettings()"
                            [placeholder]="'Find a Product . . .'"
                            (searchEvent)="onSearch($event)"
                            (profileEvent)="onViewProfile()"
                            [logoutPage]="'/application/logout'"
                            [loginService]="dm.loginService"></licky-lick-app-widget-menu>
<div class="app-body">
  <licky-lick-app-widget-left-side-menu [newsService]="dm.newsService"></licky-lick-app-widget-left-side-menu>
  <main class="main">
    <div class="container-fluid">
          <licky-lick-app-widget-breadcrumb [crumbs]="crumbs" (pageEvent)="onBreadCrumb($event)"></licky-lick-app-widget-breadcrumb>
          <app-context-nav [store]="store" [catalog]="catalog"
                           [context]="'product'"></app-context-nav>
          <div class="container">
            <div class="card">
              <div class="card-body">

                <form #dataForm="ngForm" class="form-group">
                  <!-- Data Collection -->
                  <div class="container-fluid">
                    <div *ngIf="currentUpload">
                      <div class="progress" *ngIf="currentUpload?.progress < 100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }">Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete</div>
                      </div>
                    </div>
                    <div class="form-group"> <label for="productName">Name</label> <input [(ngModel)]="product.name" #productName="ngModel" id="productName" name="productName" placeholder="Product Name" type="text" class="form-control form-control-lg input-element" required autofocus>
                      <div [hidden]="productName.valid || productName.pristine" class="alert alert-danger"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Product name required </div>
                    </div>
                    <div class="form-group"> <label for="productDescription">Description</label>
                      <input [(ngModel)]="product.description" #productDescription="ngModel" id="productDescription" name="productDescription" placeholder="Product Description" type="text" class="form-control form-control-lg input-element">
                    </div>
                    <div class="form-group"> <label for="longDescription">Long Description</label>
                      <textarea [(ngModel)]="product.longDescription" id="longDescription" name="longDescription" placeholder="Long Description" cols="30" rows="10" class="form-control form-control-lg input-element"></textarea>
                    </div>
                    <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
                      <label for="dataDraft" title="Draft indicates the record is not finished and should not be made public">Draft</label>
                      <br><ui-switch [(ngModel)]="product.draft" id="dataDraft" name="dataDraft"></ui-switch>
                    </div>
                    <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">
                      <label for="dataDeleted" title="Checking deleted marks the record as deleted, but does not remove the record from the database">Deleted</label>
                      <br><ui-switch [(ngModel)]="product.deleted" id="dataDeleted" name="dataDeleted"></ui-switch>
                    </div>
                    <div class="form-group"><label for="dataKeywords">Keywords</label> <input [(ngModel)]="product.keywords" id="dataKeywords" name="dataKeywords" type="text" class="form-control form-control-lg ta-input-element" placeholder="Enter keywords seperated by commas"></div>
                    <div class="form-group" *ngIf="product.url"> <img *ngIf="product?.url" src="{{product?.url}}" alt="product?.url" class="img-fluid mx-auto d-block img-thumbnail"> </div>
                    <div class="form-group"> <small>For best results ensure image is 1920 x 1080</small> <br><label for="selectedFiles"><span *ngIf="product.id">Replace </span> Image</label> <input class="form-control form-control-lg ta-input-element" type="file" id="selectedFiles" name="selectedFiles" (change)="detectFiles($event)" accept=".jpg, .jpeg, .png, .gif"> </div>
                    <div class="form-group"> <label for="category">Category</label> <select [(ngModel)]="product.category" name="category" id="category" class="form-control form-control-lg input-element">
                          <option value=""></option>
                          <option *ngFor="let c of categories" value="{{c.name}}">{{c.name}}</option>
                        </select> </div>
                    <div class="form-group"> <label for="orderQuantity">Order Quantity</label> <input [(ngModel)]="product.orderQuantity" #orderQuantity="ngModel" id="orderQuantity" name="orderQuantity" placeholder="How many can be ordered" type="text" class="form-control form-control-lg input-element"> </div>
                    <div class="form-group"> <label for="sku">SKU</label> <input [(ngModel)]="product.sku" #sku="ngModel" id="sku" name="sku" placeholder="SKU" type="text" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="manufacturer">Manufacturer</label> <input [(ngModel)]="product.manufacturer" #manufacturer="ngModel" id="manufacturer" name="manufacturer" placeholder="Manufacturer" type="text" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="author">Author</label> <input [(ngModel)]="product.author" #author="ngModel" id="author" name="author" placeholder="Author or Creator" type="text" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="discontinued">Discontinued?</label> <input [(ngModel)]="product.discontinued" #discontinued="ngModel" id="discontinued" name="discontinued" type="checkbox" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="price">Price</label> <input [(ngModel)]="product.price" #price="ngModel" id="price" name="price" placeholder="Price" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"><label for="hourlyRate">Hourly Price</label> <input [(ngModel)]="product.hourlyRate" #hourlyRate="ngModel" id="hourlyRate" name="hourlyRate" type="checkbox" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="onSale">On Sale?</label> <input [(ngModel)]="product.onSale" #onSale="ngModel" id="onSale" name="onSale" type="checkbox" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="salePrice">Sale Price</label> <input [(ngModel)]="product.salePrice" #salePrice="ngModel" id="salePrice" name="salePrice" placeholder="Sale Price" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="subscription">Subscription?</label> <input [(ngModel)]="product.subscription" #subscription="ngModel" id="subscription" name="subscription" type="checkbox" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="height">Height</label> <input [(ngModel)]="product.height" #height="ngModel" id="height" name="height" placeholder="Height" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="width">Width</label> <input [(ngModel)]="product.width" #width="ngModel" id="width" name="width" placeholder="Width" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="weight">Weight</label> <input [(ngModel)]="product.weight" #weight="ngModel" id="weight" name="weight" placeholder="Weight" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="length">Length</label> <input [(ngModel)]="product.length" #length="ngModel" id="length" name="length" placeholder="Length" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="unitsOnOrder">Units on Order</label> <input [(ngModel)]="product.unitsOnOrder" #unitsOnOrder="ngModel" id="unitsOnOrder" name="unitsOnOrder" placeholder="Units on Order" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="unitsInStock">Units in Stock</label> <input [(ngModel)]="product.unitsInStock" #unitsInStock="ngModel" id="unitsInStock" name="unitsInStock" placeholder="Units in Stock" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="reOrderLevel">Re-order Level</label> <input [(ngModel)]="product.reOrderLevel" #reOrderLevel="ngModel" id="reOrderLevel" name="reOrderLevel" placeholder="Reorder Level" type="number" class="form-control form-control-lg input-element"></div>
                    <div class="form-group"> <label for="leadTime">Lead Time</label> <input [(ngModel)]="product.leadTime" #leadTime="ngModel" id="leadTime" name="leadTime" placeholder="Lead Time" type="number" class="form-control form-control-lg input-element"></div>



                    <!-- User Defined section -->
                    <h3>Sections</h3>
                    <div class="form-group">
                      <label for="sectionName">Section Name</label>
                      <input [(ngModel)]="section.name" id="sectionName" name="sectionName" placeholder="Section Name" class="form-control form-control-lg ta-input-element" type="text">
                    </div>
                    <div class="form-group">
                      <label for="sectionDescription">Section Text</label>
                      <textarea [(ngModel)]="section.description" id="sectionDescription" name="sectionDescription" rows="5" cols="80" class="form-control form-control-lg ta-input-element"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary" (click)="newSection()"><i class="fa fa-plus"></i>
                    Add Additional Sections</button>
                    <br>
                    <div *ngIf="(product && product.sections && (product.sections.length > 0))">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let section of product.sections; let i = index">
                          <div class="row">
                            <div class="col-2">
                              <button type="button" class="btn btn-primary btn-sm" (click)="editSection(i)"><i class="fa fa-pencil-square-o"></i> Edit </button>
                              <button type="button" class="btn btn-danger btn-sm" (click)="removeSection(i)"><i class="fa fa-times"></i> Delete </button>
                            </div>
                            <div class="col-10">
                              <h2> {{section?.name}}</h2>
                              ({{section?.description}})
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!-- End User Defined section -->


                    <div class="row">
                      <div class="col text-center"> <button class="btn btn-primary btn-lg btn-round" (click)="onSubmit()" type="submit" [disabled]="!dataForm.form.valid" title="Submit to database">Save
                              <i class="fa fa-cloud" aria-hidden="true"></i>
                            </button>
                              <button *ngIf="canDelete" class="btn btn-danger btn-lg btn-round" (click)="onDelete();dataForm.reset()" [disabled]="!product.id">Delete
                                <i class="fa fa-times" aria-hidden="true"></i>
                              </button>
                          </div>
                    </div>
                  </div>
                </form>




              </div>
            </div>
          </div>
    </div>
    <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
    <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
  </main>
  <licky-lick-app-widget-right-side-menu [panelHeaderText]="'Help'"
                                         [helpHeaderText]="'Product Edit'"
                                         [descriptionText]="'This page displays a list of topics entered into the system.'"
                                         [header1]="'Find'"
                                         [description1]="'To find a specific topic, use the search box at the top of the screen.'"
                                         [header2]="'Actions'"
                                         [description2]="'You have the choice to edit, view or mark a topic for deletion - if your edit privileges allow.'"
                                         [header3]="'Deleted'"
                                         [description3]="'Deleted topics display as faint text.'"></licky-lick-app-widget-right-side-menu>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
