<div class="bg0 p-t-100 p-b-80">
    <div class="container">
    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th class="wow fadeInDown">Product Name</th>
                    <th class="wow fadeInDown">Unit Price</th>
                    <th class="wow fadeInDown">Stock Status</th>
                    <th class="wow fadeInDown">Add to cart</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="flex-w flex-m">
                            <div class="pb-2 mr-2">
                                <img src="https://via.placeholder.com/120x101" alt="IMG">
                            </div>

                            <span>
                                Cheery
                            </span>
                        </div>
                    </td>
                    <td >
                        $ 18.00
                    </td>
                    <td>
                        <div class="flex-t">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <span>
                                In Stock
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="flex-w flex-sb-m">
                            <button class="btn btn-primary btn-lg btn-round">
                                Shop Now
                            </button>

                            <div>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="flex-w flex-m">
                            <div class="pb-2 mr-2">
                                <img src="https://via.placeholder.com/120x101" alt="IMG">
                            </div>

                            <span>
                                Asparagus
                            </span>
                        </div>
                    </td>
                    <td>
                        $ 12.00
                    </td>
                    <td>
                        <div class="flex-t">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <span class="size-w-53 txt-m-104 cl6">
                                In Stock
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="flex-w flex-sb-m">
                            <button class="btn btn-primary btn-lg btn-round">
                                Shop Now
                            </button>

                            <div>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="flex-w flex-sb-m p-t-30">
            <div class="flex-w flex-m m-r-50 m-tb-10">
                <button class="btn btn-primary btn-lg btn-round">
                    Clear Wishlist
                </button>

                <button class="btn btn-primary btn-lg btn-round">
                    Update Wishlist
                </button>
            </div>

            <button class="btn btn-primary btn-lg btn-round">
                Continue Shopping
            </button>
        </div>
    </div>
</div>
