<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <licky-lick-marketing-menu [logo]="'assets/images/icon-logo.png'"
                               [logoName]="'Taliferro Tech'"
                               [menuItems]="menuItems"></licky-lick-marketing-menu>
    <licky-lick-marketing-header5 [headingText]="'Accelerating progress through Technology'"
                                  [descriptionText]="'Turning vision into reality'"
                                  [buttonLink1]="null"
                                  [buttonLink2]="null"></licky-lick-marketing-header5>
  </header>
</div>
<licky-lick-marketing-features4 [headingText]="'Core Competencies'"
                                [descriptionText]="'Let\'s align your organization\'s goals with a long term strategy that is effective across multiple devices and platforms and takes into account governance, risk, and security factors.'"
                                [featureHeading1]="'APIs and REST'"
                                [featureDescription1]="'Experts in counseling and guidance on proper API development for higher developer adoption.'"
                                [featureIcon1]="'icon-diamond'"
                                [featureHeading2]="'SPA DEVELOPMENT'"
                                [featureDescription2]="'No stress over requirements changing, we are adamant about applying agile methodologies to keep costs down.'"
                                [featureIcon2]="'icon-star'"
                                [featureHeading3]="'TECHNICAL WRITING'"
                                [featureDescription3]="'Our subject matter experts help your organization clearly communicate complex or simple topics.'"
                                [featureIcon3]="'icon-notebook'"
                                [featureHeading4]="'SCRUM'"
                                [featureDescription4]="'Scrum practices and principles help achieve goals faster and allows for frequent feedback resulting in continuous improvement.'"
                                [featureIcon4]="'icon-refresh'"></licky-lick-marketing-features4>
<licky-lick-marketing-about-product7 [imageURL]="'assets/images/consulting1.jpg'"
                                     [instructionText]="'GLOBAL IS LOCAL'"
                                     [headingText]="'VALUE PROPOSITION'"
                                     [descriptionText]="'Listening to what clients want, delivering what clients need in the areas of management strategy, technology solutions, and technical and corporate writing. Taliferro will help your company create the sustainable value needed to be competitive. Our global view of business and technology encompasses the necessary knowledge and expertise that will enhance any size business.'"></licky-lick-marketing-about-product7>
<licky-lick-marketing-parallax1 [textColor]="'#ffffff'"
                                [headingText]="'We are stuck with technology when what we really want is just stuff that works.'"
                                [descriptionText]="'<center>Douglas Adams</center>'"
                                [imageURL]="'assets/images/consulting2.jpg'"></licky-lick-marketing-parallax1>
<licky-lick-marketing-faq3 [descriptionText]="'Below are some commonly asked questions about Taliferro and the services we offer. If further assistance is required, please reach out by filling out the contact form or calling the phone number below.'"
                           [imageURL]="'assets/images/consulting3.jpg'"
                           [faqHeading1]="'What is your typical client size?'"
                           [faqDescription1]="'Our work spans Fortune 500 companies to start-ups across 4 continents.'"
                           [faqHeading2]="'Can you help with cloud initiatives?'"
                           [faqDescription2]="'Any company trying to navigate cloud technology and business processes in today’s challenging global environment will benefit from his knowledge and expertise in software architecture. Tyrone holds a bachelor of science in computer science.'"
                           [faqHeading3]="'What is a SPA application?'"
                           [faqDescription3]="'SPA stands for Single Page Application. A SPA is a web application that runs in a browser where a single page or URL acts like an entire website. Pages load fast and usually require no trips back to a server to request the load of a new page.'"></licky-lick-marketing-faq3>
<licky-lick-marketing-team1 [users]="users"
                            [headingText]="'The Team'"
                            [descriptionText]="description"></licky-lick-marketing-team1>
<licky-lick-marketing-try-it2 [headingText]="'Taliferro can help your company\'s technology vision become reality'"
                              [descriptionText]="'Contact us for a free assessment of where you are and where you want to go.'"
                              [buttonLink]="null"></licky-lick-marketing-try-it2>
<licky-lick-marketing-contact-us1 [descriptionText]="message"
                                  (pageEvent)="onPageEvent($event)"></licky-lick-marketing-contact-us1>
<licky-lick-marketing-footer2 [copyrightText]="'&#169; Copyright Taliferro. Taliferro &#174; Is Registered In The U.S. Patent And Trademark Office. 425.305.3748'"
                              [router]="router"
                              [buttonText1]="'Home'"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/terms'"
                              [buttonLink4]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-linkedin'"
                              [socialText1]="'Twitter'"
                              [socialLink1]="'https://twitter.com/TaliferroLLC'"
                              [socialText2]="'LinkedIn'"
                              [socialLink2]="'https://www.linkedin.com/company/1940955/'"
                              [socialLink3]="null"
                              [socialLink4]="null"
                              [socialLink5]="null"></licky-lick-marketing-footer2>
