<licky-lick-marketing-features2></licky-lick-marketing-features2>
<licky-lick-marketing-parallax1></licky-lick-marketing-parallax1>
<licky-lick-marketing-about-product2></licky-lick-marketing-about-product2>
<licky-lick-marketing-video1 [headingText]="video1_headingText" [descriptionText]="video1_descriptionText"
      [videoURL]="video1_videoURL" [imageURL]="video1_imageURL"></licky-lick-marketing-video1>
<licky-lick-marketing-faq1 [headingText]="faq1_headingText" [descriptionText]="faq1_descriptionText"
      [faqHeading1]="faq1_faqHeading1" [faqDescription1]="faq1_faqDescription1" [faqHeading2]="faq1_faqHeading2"
      [faqDescription2]="faq1_faqDescription2" [faqHeading3]="faq1_faqHeading3"
      [faqDescription3]="faq1_faqDescription3"></licky-lick-marketing-faq1>