<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <app-nav></app-nav>
    <licky-lick-marketing-carousel [carousel]="carousel"
                                   [isRadialBackground]="true"
                                   (pageEvent)="onShopNow($event)"></licky-lick-marketing-carousel>
  </header>
</div>
<div id="content"
     class="site-content">
  <div id="primary"
       class="content-area">
    <main id="main"
          class="site-main">
      <licky-lick-marketing-features1 [headingText]="features1_headingText"
                                      [descriptionText]="features1_descriptionText"
                                      [featureHeading1]="features1_featureHeading1"
                                      [featureDescription1]="features1_featureDescription1"
                                      [featureIcon1]="features1_featureIcon1"
                                      [featureHeading2]="features1_featureHeading2"
                                      [featureDescription2]="features1_featureDescription2"
                                      [featureIcon2]="features1_featureIcon2"
                                      [featureHeading3]="features1_featureHeading3"
                                      [featureDescription3]="features1_featureDescription3"
                                      [featureIcon3]="features1_featureIcon3"></licky-lick-marketing-features1>
      <licky-lick-marketing-video1 [headingText]="video1_headingText"
                                   [descriptionText]="video1_descriptionText"
                                   [videoURL]="video1_videoURL"
                                   [imageURL]="video1_imageURL"></licky-lick-marketing-video1>
      <licky-lick-marketing-reviews2 [headingText]="reviews2_headingText"
                                     [descriptionText]="reviews2_descriptionText"
                                     [reviews]="reviews"></licky-lick-marketing-reviews2>
      <licky-lick-marketing-faq1 [headingText]="faq1_headingText"
                                 [descriptionText]="faq1_descriptionText"
                                 [faqHeading1]="faq1_faqHeading1"
                                 [faqDescription1]="faq1_faqDescription1"
                                 [faqHeading2]="faq1_faqHeading2"
                                 [faqDescription2]="faq1_faqDescription2"
                                 [faqHeading3]="faq1_faqHeading3"
                                 [faqDescription3]="faq1_faqDescription3"></licky-lick-marketing-faq1>
    </main>
  </div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/about/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/about/terms'"
                              [buttonText4]="'Contact'"
                              [buttonLink4]="'/about/contact'"
                              [socialText1]="'Twitter'"
                              [socialText2]="'GitHub'"
                              [socialText3]="'YouTube'"
                              [socialText4]="null"
                              [socialText5]="null"
                              [socialLink1]="'https://twitter.com/16Ahead'"
                              [socialLink2]="'https://github.com/tshowers/licky-lick'"
                              [socialLink3]="'https://www.youtube.com/channel/UCmsqXdXkbD8Seh-kvHPApig'"
                              [socialLink4]="null"
                              [socialLink5]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-github'"
                              [socialIcon3]="'fa-youtube'"
                              [router]="router"></licky-lick-marketing-footer2>
