<licky-lick-app-widget-menu [router]="router"
                            [db]="dm.db"
                            [photoURL]="dm.photoURL"
                            [displayName]="dm.displayName"
                            [messageLink]="'/application/notification/messages'"
                            [alertLink]="'/application/notification/alerts'"
                            [taskLink]="'/application/notification/tasks'"
                            [cartLink]="'/application/shopping-carts'"
                            [isCart]="true"
                            [isAlertNotification]="false"
                            [isMessageNotification]="false"
                            [isTaskNotification]="false"
                            [emailAddress]="dm.emailAddress"
                            [loggedIn]="dm.loggedIn"
                            [userName]="dm.userName"
                            [emailVerified]="dm.emailVerified"
                            (settingsEvent)="onSettings()"
                            [placeholder]="'Find a product . . .'"
                            (profileEvent)="onViewProfile()"
                            (searchEvent)="onSearch($event)"
                            [logoutPage]="'/application/logout'"
                            [loginService]="dm.loginService"></licky-lick-app-widget-menu>
<div class="app-body">
  <licky-lick-app-widget-left-side-menu [searchArgument]="searchArgument"
                                        [newsService]="dm.newsService"></licky-lick-app-widget-left-side-menu>
  <main class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <licky-lick-app-widget-breadcrumb [crumbs]="crumbs"
                                            (pageEvent)="onBreadCrumb($event)"></licky-lick-app-widget-breadcrumb>
        </div>
      </div>
      <div class="row"
           *ngIf="totalRecords == 0">
        <div class="col-md-12">
          <licky-lick-marketing-faq2 [headingText]="FAQheadingText"
                                     [descriptionText]="descriptionText"
                                     [faqHeading1]="faqHeading1"
                                     [faqDescription1]="faqDescription1"
                                     [faqHeading2]="faqHeading2"
                                     [faqDescription2]="faqDescription2"
                                     [faqHeading3]="faqHeading3"
                                     [faqDescription3]="faqDescription3"
                                     [faqHeading4]="faqHeading4"
                                     [faqDescription4]="faqDescription4"></licky-lick-marketing-faq2>
        </div>
      </div>
    </div>
    <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
    <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
  </main>
  <licky-lick-app-widget-right-side-menu [panelHeaderText]="'Help'"
                                         [helpHeaderText]="'eCommerice Dashboard'"
                                         [descriptionText]="'The eCommerice dashboard allows you to take a comprehensive statistical look at all sales.'"
                                         [header1]="'Total Records'"
                                         [description1]="'Total records are all topics in the system (active or deleted). '"
                                         [header2]="'Highlights'"
                                         [description2]="'The system analyzes each topic against other known information and highlights topics you may want to review.'"
                                         [header3]="'Percentages'"
                                         [description3]="'Graphical representations of the topic state provide insight into the popularity of a topic.'"></licky-lick-app-widget-right-side-menu>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
