<licky-lick-app-widget-breadcrumb [crumbs]="crumbs" (pageEvent)="onBreadCrumb($event)">
</licky-lick-app-widget-breadcrumb>
<licky-lick-marketing-faq2 *ngIf="totalRecords == 0" [headingText]="FAQheadingText" [descriptionText]="descriptionText"
  [faqHeading1]="faqHeading1" [faqDescription1]="faqDescription1" [faqHeading2]="faqHeading2"
  [faqDescription2]="faqDescription2" [faqHeading3]="faqHeading3" [faqDescription3]="faqDescription3"
  [faqHeading4]="faqHeading4" [faqDescription4]="faqDescription4"></licky-lick-marketing-faq2>

<div class="container-fluid" *ngIf="totalRecords > 0">
  <div class="row ta-row">
    <div class="col">
      <licky-lick-app-widget-stats4></licky-lick-app-widget-stats4>
    </div>
  </div>
  <div class="row ta-row">
    <div class="col-md-4">
      <licky-lick-app-widget-stats9></licky-lick-app-widget-stats9>
    </div>
    <div class="col-md-4">
      <licky-lick-app-widget-stats3></licky-lick-app-widget-stats3>
    </div>
    <div class="col-md-4">
      <licky-lick-app-widget-stats11></licky-lick-app-widget-stats11>

    </div>
  </div> 
  <div class="row ta-row">
    <div class="col-md-3">
      <licky-lick-app-widget-stats6></licky-lick-app-widget-stats6>
    </div>
    <div class="col-md-3">
      <licky-lick-app-widget-stats6></licky-lick-app-widget-stats6>
    </div>
    <div class="col-md-3">
      <licky-lick-app-widget-stats6></licky-lick-app-widget-stats6>
    </div>
    <div class="col-md-3">
      <licky-lick-app-widget-stats6></licky-lick-app-widget-stats6>
    </div>
  </div>  
  <div class="row ta-row">
    <div class="col-md-6">
      <licky-lick-app-widget-stats2></licky-lick-app-widget-stats2>
    </div>
    <div class="col-md-6">
      <licky-lick-app-widget-stats5></licky-lick-app-widget-stats5>
    </div>
  </div> 
</div>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>