<div id="page" class="site">
  <header id="masthead" class="site-header">
    <app-nav></app-nav>
  <licky-lick-marketing-simple-header [headingText]="'Contact'" [backgroundImage]="'assets/images/contact.jpg'"></licky-lick-marketing-simple-header>
</header>
</div>
<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
        <licky-lick-marketing-contact-us1></licky-lick-marketing-contact-us1>
      </main>
    </div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/about/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/about/terms'"
                              [buttonText4]="'Contact'"
                              [buttonLink4]="'/about/contact'"
                              [socialText1]="'Twitter'"
                              [socialText2]="'GitHub'"
                              [socialText3]="'YouTube'"
                              [socialText4]="null"
                              [socialText5]="null"
                              [socialLink1]="'https://twitter.com/16Ahead'"
                              [socialLink2]="'https://github.com/tshowers/licky-lick'"
                              [socialLink3]="'https://www.youtube.com/channel/UCmsqXdXkbD8Seh-kvHPApig'"
                              [socialLink4]="null"
                              [socialLink5]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-github'"
                              [socialIcon3]="'fa-youtube'"
                              [router]="router"></licky-lick-marketing-footer2>
