<div class="container mt-5 pt-5">
<h2>Specific Purpose Use</h2>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-no-data"><span class="ta-small">selector:</span> licky-lick-app-widget-no-data</h3>
<licky-lick-app-widget-no-data [isLoading]="false"></licky-lick-app-widget-no-data>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-article"><span class="ta-small">selector:</span> licky-lick-app-widget-article</h3>
<licky-lick-app-widget-article [data]="articleData"></licky-lick-app-widget-article>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-card-deck"><span class="ta-small">selector:</span> licky-lick-app-widget-card-deck</h3>
<licky-lick-app-widget-card-deck></licky-lick-app-widget-card-deck>
<hr>
</div>
