<licky-lick-app-widget-lock-forgot-password [logoName]="'News'"
                                            [homePageLink]="'/'"
                                            [headingText]="'16 AHEAD'"
                                            [message]="message"
                                            [subText]="'Just a few steps away from catching up on all the news.'"
                                            [loginPageLink]="'/application/login'"
                                            (pageEvent)="onPageEvent($event)"></licky-lick-app-widget-lock-forgot-password>
