<licky-lick-app-widget-login [logoName]="'News'"
                             [headingText]="'16 AHEAD'"
                             [subText]="'Just one step away from catching up on all the news.'"
                             [signUpLink]="'/application/sign-up'"
                             (pageEvent)="onPageEvent($event)"
                             [errorMessage]="errorMessage"
                             [forgotPasswordLink]="'/application/forgot-password'"></licky-lick-app-widget-login>
