<licky-lick-app-widget-breadcrumb [crumbs]="crumbs" [context]="store?.name" (pageEvent)="onBreadCrumb($event)">
</licky-lick-app-widget-breadcrumb>
<div class="card">
  <div class="card-body">
    <form #dataForm="ngForm" class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="paymentStatus">Status</label>
              <select [(ngModel)]="payment.status" name="paymentStatus" id="paymentStatus"
                class="form-control input-lg input-element" required>
                <option value=""></option>
                <option *ngFor="let s of status" value="{{s.name}}">{{s.name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="fop">Form of Payment</label>
              <select [(ngModel)]="payment.fopType" name="fop" id="fop" class="form-control input-lg input-element"
                (change)="onFOP()" required>
                <option value=""></option>
                <option *ngFor="let f of fopTypes" value="{{f.name}}">{{f.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="!creditCard">
          <div class="col">
            <div class="form-group">
              <label for="authorizationAmount">Authorization Amount</label>
              <input [(ngModel)]="payment.authorizationAmount" #authorizationAmount="ngModel" id="authorizationAmount"
                name="authorizationAmount" placeholder="x,xxx.xx" type="text"
                class="form-control input-lg input-element" pattern="^\d+(?:,\d{3})*\.\d{2}$"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="requestAmout">Request Amount</label>
              <input [(ngModel)]="payment.requestAmout" #requestAmout="ngModel" id="requestAmout" name="requestAmout"
                placeholder="x,xxx.xx" type="text" class="form-control input-lg input-element"
                pattern="^\d+(?:,\d{3})*\.\d{2}$"></div>
          </div>
        </div>
        <div class="row" [hidden]="!creditCard">
          <div class="col">
            <div class="form-group">
              <label for="confirmationNumber">Confirmation Number</label>
              <input [(ngModel)]="payment.confirmationNumber" #confirmationNumber="ngModel" id="confirmationNumber"
                name="confirmationNumber" placeholder="Confirmation Number" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="processingTime">Processing Time</label>
              <input [(ngModel)]="payment.processingTime" #processingTime="ngModel" id="processingTime"
                name="processingTime" placeholder="Processing Time" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="paymentDate">Date</label>
              <div class="input-group">
                <input [(ngModel)]="payment.date" #paymentrDate="ngModel" id="paymentDate" name="paymentDate"
                  placeholder="yyyy-mm-dd" type="text" class="form-control input-lg ta-input-element" ngbDatepicker
                  #e="ngbDatepicker" required>
                <div class="input-group-addon" (click)="e.toggle()"><img src="assets/images/calendar-icon.svg"
                    style="width: 1.2rem; height: 1rem; cursor: pointer;" /></div>
              </div>
            </div>
          </div>
          <div class="col" [hidden]="!creditCard">
            <div class="form-group">
              <label for="paymentMethodCode">Payment Method Code</label><input [(ngModel)]="payment.paymentMethodCode"
                #paymentMethodCode="ngModel" id="paymentMethodCode" name="paymentMethodCode" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                placeholder="Payment Method Code" type="text" class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row" [hidden]="!creditCard" *ngIf="(payment && paymentLine)">
          <div class="col">
            <div class="form-group">
              <label for="creditIndicator">Credit Indicator</label>
              <br>

              <ui-switch [(ngModel)]="payment.paymentLine.creditIndicator" id="creditIndicator" name="creditIndicator"></ui-switch>

              <!-- <input
                [(ngModel)]="payment.paymentLine.creditIndicator" #creditIndicator="ngModel" id="creditIndicator"
                name="creditIndicator" type="checkbox" class="form-control input-lg input-element"> -->
              </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="allocationTypeCode">Allocation Type Code</label><input
                [(ngModel)]="payment.paymentLine.allocationTypeCode" #allocationTypeCode="ngModel"
                id="allocationTypeCode" name="allocationTypeCode" placeholder="Allocation Type Code" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row" [hidden]="!creditCard" *ngIf="(payment && paymentLine)">
          <div class="col">
            <div class="form-group">
              <label for="allocationAmount">Allocation Amount</label><input
                [(ngModel)]="payment.paymentLine.allocationAmount" #allocationAmount="ngModel" id="allocationAmount"
                name="allocationAmount" placeholder="x,xxx.xx" type="text" class="form-control input-lg input-element" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                pattern="^\d+(?:,\d{3})*\.\d{2}$"></div>
          </div>
        </div>
        <div class="row" [hidden]="!creditCard" *ngIf="(payment && paymentLine)">  
          <div class="col">
            <div class="form-group">
              <label for="paymentLineDescription">Payment Description</label>
              <ckeditor [(ngModel)]="payment.paymentLine.description" [editor]="Editor" #paymentLineDescription="ngModel" id="paymentLineDescription"
              name="paymentLineDescription"></ckeditor>
  
              </div>
          </div>
        </div>
        <div class="row" [hidden]="!bankAccount" *ngIf="(payment && paymentLine)">
          <div class="col">
            <div class="form-group">
              <label for="financialAccountNumber">Account Number</label><input
                [(ngModel)]="payment.paymentLine.financialAccountNumber" #financialAccountNumber="ngModel"
                id="financialAccountNumber" name="financialAccountNumber" placeholder="Financial Account Number"
                type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off" class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="fromAccountNumber">Account Number</label><input
                [(ngModel)]="payment.fromBankAccount.accountNumber" #fromAccountNumber="ngModel" id="fromAccountNumber"
                name="fromAccountNumber" placeholder="Account Number" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row" [hidden]="!bankAccount">
          <div class="col">
            <div class="form-group">
              <label for="fromBankName">Bank Name</label><input [(ngModel)]="payment.fromBankAccount.bankName"
                #fromBankName="ngModel" id="fromBankName" name="fromBankName" placeholder="Bank Name" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="routingNumber">Routing Number</label>
              <input [(ngModel)]="payment.fromBankAccount.routingNumber" #routingNumber="ngModel" id="routingNumber"
                name="routingNumber" placeholder="Routing Number" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row" [hidden]="!bankAccount">
          <div class="col">
            <div class="form-group">
              <label for="accountHolderName">Account Holder Name</label><input
                [(ngModel)]="payment.check.accountHolderName" #accountHolderName="ngModel" id="accountHolderName"
                name="accountHolderName" placeholder="Acount Holder Name" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="checkBankName">Bank Name</label><input [(ngModel)]="payment.check.bankName"
                #checkBankName="ngModel" id="checkBankName" name="checkBankName" placeholder="Bank Name" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row" [hidden]="!bankAccount">
          <div class="col">
            <div class="form-group">
              <label for="checkAccountNumber">Account Number</label>
              <input [(ngModel)]="payment.check.accountNumber" #checkAccountNumber="ngModel" id="checkAccountNumber"
                name="checkAccountNumber" placeholder="Account Number" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="checkRoutingNumber">Routing Number</label>
              <input [(ngModel)]="payment.check.routingNumber" #checkRoutingNumber="ngModel" id="checkRoutingNumber"
                name="checkRoutingNumber" placeholder="Routing Number" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row" [hidden]="!bankAccount">
          <div class="col">
            <div class="form-group">
              <label for="checkNumber">Check Number</label>
              <input [(ngModel)]="payment.check.checkNumber" #checkNumber="ngModel" id="checkNumber" name="checkNumber" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                placeholder="Check Number" type="text" class="form-control input-lg input-element" pattern="[0-9]+">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="approvalCode">Approval Code</label>
              <input [(ngModel)]="payment.approvalCode" #approvalCode="ngModel" id="approvalCode" name="approvalCode" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                placeholder="Approval Code" type="text" class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="traceNumber">Trace Number</label>
              <input [(ngModel)]="payment.creditCardPayment.traceNumber" #traceNumber="ngModel" id="traceNumber" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                name="traceNumber" placeholder="Trace Number" type="text" class="form-control input-lg input-element">
            </div>
          </div>
          <div class="col" [hidden]="!creditCard">
            <div class="form-group">
              <label for="cardType">Card Type</label>
              <select [(ngModel)]="payment.creditCardPayment.cardType" name="cardType" id="cardType"
                class="form-control input-lg input-element">
                <option value=""></option>
                <option *ngFor="let c of ccTypes" value="{{c.name}}">{{c.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="!creditCard">
          <div class="col">
            <div class="form-group">
              <label for="cardHolderName">Name on Card</label>
              <input [(ngModel)]="payment.creditCardPayment.cardHolderName" #cardHolderName="ngModel"
                id="cardHolderName" name="cardHolderName" placeholder="Name on the Card" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="expirationMonthYear">Expires</label>
              <input [(ngModel)]="payment.creditCardPayment.expirationMonthYear" #expirationMonthYear="ngModel"
                id="expirationMonthYear" name="expirationMonthYear" placeholder="MM/YYYY" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row" [hidden]="!creditCard">
          <div class="col">
            <div class="form-group">
              <label for="merchantId">Merchant ID</label>
              <input [(ngModel)]="payment.merchantId" #merchantId="ngModel" id="merchantId" name="merchantId"
                placeholder="Merchant ID" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off" class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="paymentChannelCode">Payment Channel Code</label>
              <input [(ngModel)]="payment.paymentChannelCode" #paymentChannelCode="ngModel" id="paymentChannelCode"
                name="paymentChannelCode" placeholder="Payment Channel" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="paymentSource">Payment Source</label>
              <input [(ngModel)]="payment.paymentSource" #paymentSource="ngModel" id="paymentSource"
                name="paymentSource" placeholder="Payment Source" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="paymentSchedulingType">Schedule Type</label>
              <input [(ngModel)]="payment.paymentSchedulingType" #paymentSchedulingType="ngModel"
                id="paymentSchedulingType" name="paymentSchedulingType" placeholder="Payment Schedule Type" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="transactionType">Transaction Type</label>
              <input [(ngModel)]="payment.transactionType" #transactionType="ngModel" id="transactionType"
                name="transactionType" placeholder="Transaction Type" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="paymentAmount">Amount</label>
              <input [(ngModel)]="payment.amount" #paymentAmount="ngModel" id="paymentAmount" name="paymentAmount"
                placeholder="x,xxx.xx" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off" class="form-control input-lg input-element"
                pattern="^\d+(?:,\d{3})*\.\d{2}$"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="reversalIndicator">Reversal Indicator</label>
              <br>
              <ui-switch [(ngModel)]="payment.reversalIndicator" id="reversalIndicator" name="reversalIndicator">
              </ui-switch>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="authorizationChannel">Authorization Channel</label>
              <input [(ngModel)]="payment.authorizationChannel" #authorizationChannel="ngModel"
                id="authorizationChannel" name="authorizationChannel" placeholder="Authorization Channel" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="pointOfSaleReceiptNumber">Point of Sale Receipt Number</label>
              <input [(ngModel)]="payment.pointOfSaleReceiptNumber" #pointOfSaleReceiptNumber="ngModel"
                id="pointOfSaleReceiptNumber" name="pointOfSaleReceiptNumber" placeholder="Receipt Number" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="manualPaymentIndicator">Manual Payment</label>
              <br>
              <ui-switch [(ngModel)]="payment.manualPaymentIndicator" id="manualPaymentIndicator" name="manualPaymentIndicator">
              </ui-switch>
              <!-- <input [(ngModel)]="payment.manualPaymentIndicator" #manualPaymentIndicator="ngModel"
                id="manualPaymentIndicator" name="manualPaymentIndicator" type="checkbox"
                class="form-control input-lg input-element"> -->
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="paymentAttachmentTypeCode">Type Code</label>
              <input [(ngModel)]="payment.paymentAttachment.typeCode" #paymentAttachmentTypeCode="ngModel"
                id="paymentAttachmentTypeCode" name="paymentAttachmentTypeCode" placeholder="Attachment Type Code" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                type="text" class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="paymentAttachmentName">Attachment Name</label>
              <input [(ngModel)]="payment.paymentAttachment.name" #paymentAttachmentName="ngModel"
                id="paymentAttachmentName" name="paymentAttachmentName" placeholder="Attachment Name" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="paymentAttachmentTitle">Attachment Title</label>
              <input [(ngModel)]="payment.paymentAttachment.title" #paymentAttachmentTitle="ngModel"
                id="paymentAttachmentTitle" name="paymentAttachmentTitle" placeholder="Attachment Title" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element"></div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="paymentAttachmentURI">URI</label>
              <input [(ngModel)]="payment.paymentAttachment.URI" #paymentAttachmentURI="ngModel"
                id="paymentAttachmentURI" name="paymentAttachmentURI" placeholder="Include http://" type="text" autocorrect="off" autocapitalize="off" spellcheck="off"  autocomplete="off"
                class="form-control input-lg input-element" pattern="https?://.+"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="paymentAttachmentDescription">Attachment Description</label>
              <ckeditor [(ngModel)]="payment.paymentAttachment.description" [editor]="Editor" #paymentAttachmentDescription="ngModel" id="paymentAttachmentDescription"
              name="paymentAttachmentDescription"></ckeditor>

            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>