<div class="container mt-5 pt-5">
  <h2>News</h2>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-post1"><span class="ta-small">selector:</span> licky-lick-app-widget-post1</h3>
<licky-lick-app-widget-post1></licky-lick-app-widget-post1>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-post2"><span class="ta-small">selector:</span> licky-lick-app-widget-post2</h3>
<licky-lick-app-widget-post2></licky-lick-app-widget-post2>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-post3"><span class="ta-small">selector:</span> licky-lick-app-widget-post3</h3>
<licky-lick-app-widget-post3></licky-lick-app-widget-post3>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-post4"><span class="ta-small">selector:</span> licky-lick-app-widget-post4</h3>
<licky-lick-app-widget-post4></licky-lick-app-widget-post4>
<hr>
<h3 class="widget-title ta-lower-case" id="lick-app-widget-post5"><span class="ta-small">selector:</span> licky-lick-app-widget-post5</h3>
<licky-lick-app-widget-post5></licky-lick-app-widget-post5>
</div>
