<licky-lick-app-widget-breadcrumb [crumbs]="crumbs" (pageEvent)="onBreadCrumb($event)">
</licky-lick-app-widget-breadcrumb>
<licky-lick-app-widget-table-data [data]="data$ | async" (newItemEvent)="onNewItem()" (detailEvent)="onDetail($event)"
  (deleteEvent)="onDelete($event)" (editEvent)="onEdit($event)" [headingText]="'Phone Numbers'" [router]="router"
  [pageSize]="pageSize" [totalRecords]="totalRecords" (currentPageEvent)="newPage($event)" [path]="PAYMENTS">
  Sorry, There are No Payments </licky-lick-app-widget-table-data>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>