<licky-lick-app-widget-breadcrumb [crumbs]="crumbs" [context]="store?.name" (pageEvent)="onBreadCrumb($event)">
</licky-lick-app-widget-breadcrumb>
<div class="card">
  <div class="card-body">
    <form #dataForm="ngForm" class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="orderStatus">Status</label>
              <select [(ngModel)]="order.status" name="orderStatus" id="orderStatus"
                class="form-control input-lg ta-input-element" required>
                <option value=""></option>
                <option *ngFor="let st of status" value="{{st.name}}">{{st.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Amount</label><br>
              <!-- {{cartTotal  | currency:'USD':true }} -->
              <input [(ngModel)]="order.amount" #orderAmount="ngModel" id="orderAmount" name="orderAmount"
                placeholder="Order Amount" type="number" class="form-control input-lg input-element"
                [disabled]="(order?.id)">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Tax</label><br>
              <!-- {{cartTaxTotal | currency:'USD':true}} -->
              <input [(ngModel)]="order.tax" #orderTax="ngModel" id="orderTax" name="orderTax" type="number"
                class="form-control input-lg input-element" [disabled]="(order?.id)">
            </div>
          </div>
        </div>
        <div *ngIf="order.products">
          <div *ngIf="order.products.length > 0">
            <div class="row">
              <div class="col">
              </div>
            </div>
          </div>
        </div>

        <licky-lick-app-widget-section-edit [data]="order"></licky-lick-app-widget-section-edit>
        

      </div>
    </form>
  </div>
</div>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>