<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <licky-lick-marketing-menu [logo]="'assets/images/icon-logo.png'"
                               [logoName]="'Taliferro'"
                               [menuItems]="menuItems"></licky-lick-marketing-menu>
                               <licky-lick-marketing-simple-header [headingText]="headingText"
                             	                                    [backgroundImage]="backgroundImage"></licky-lick-marketing-simple-header>
  </header>
</div>
<div id="content"
     class="site-content">
	<div id="primary"
	     class="content-area">
		<main id="main"
		      class="site-main">
			<licky-lick-marketing-simple-page [bodyText]="bodyText"></licky-lick-marketing-simple-page>
		</main>
	</div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
[router]="router"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/terms'"
                              [buttonLink4]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-linkedin'"
                              [socialText1]="'Twitter'"
                              [socialLink1]="'https://twitter.com/TaliferroLLC'"
                              [socialText2]="'LinkedIn'"
                              [socialLink2]="'https://www.linkedin.com/company/1940955/'"
                              [socialLink3]="null"
                              [socialLink4]="null"
                              [socialLink5]="null"></licky-lick-marketing-footer2>
