<licky-lick-app-widget-generic-nav [links]="crumbs"></licky-lick-app-widget-generic-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <licky-lick-app-widget-item-view1 [data]="product" [details]="true" (editEvent)="onEdit()"
        (deleteEvent)="onDelete()"></licky-lick-app-widget-item-view1>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h1>
            <span *ngIf="!product.onSale"
              class="badge badge-pill badge-theme ta-large">{{product?.price | currency:'USD':'symbol'}} <span
                *ngIf="product.hourlyRate"> <br><small>per hour</small> </span></span>
            <span *ngIf="product.onSale"
              class="badge badge-pill badge-success ta-large">{{product?.salePrice | currency:'USD':'symbol'}} <span
                *ngIf="product.hourlyRate"> <br><small>per hour</small></span></span>
          </h1>
          <h4 class="card-title">{{product?.name}}</h4>
          <input [(ngModel)]="quantity" id="quantity" name="quantity" type="number"
            class="form-control form-control-lg input-element" style="max-width: 100px;"><br>
        </div>
      </div>
    </div>
  </div>
</div>
<licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>