<!-- Content page -->
<section class="bg0 p-t-85 p-b-45">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-4 col-lg-3 m-rl-auto p-b-50">
        <div class="leftbar p-t-15">
          <!--  -->
          <div class="size-a-21 pos-relative">
            <input class="s-full bo-all-1 bocl15 p-rl-20" type="text" name="search" placeholder="Search products...">
            <button class="flex-c-m fs-18 size-a-22 ab-t-r hov11">
              <img class="hov11-child trans-04" src="assets/images/icons/icon-search.png" alt="ICON">
            </button>
          </div>

          <!-- Categories -->

          <!-- Best Sellers -->

          <!-- By Tag -->
        </div>
      </div>

      <div class="col-sm-10 col-md-8 col-lg-9 m-rl-auto p-b-50">
        <div>
          <div class="row">
            <div class="col-7">
              <div class="form-group">
                <select class="form-control input-lg input-element" name="sort">
                  <option>Sort by popularity</option>
                  <option>Sort by best sell</option>
                  <option>Sort by special</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
              <div class="flex-w flex-m m-tb-7">
                <button class="dis-block lh-00 pos-relative how-icon1 m-r-15 js-show-list">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <!-- <img class="icon-main trans-04" src="assets/images/icons/icon-menu-list.png" alt="ICON">
                  <img class="ab-t-l icon-hov trans-04" src="assets/images/icons/icon-menu-list1.png" alt="ICON"> -->
                </button>

                <button class="dis-block lh-00 pos-relative how-icon1 menu-active js-show-grid">
                  <i class="fa fa-th" aria-hidden="true"></i>
                  <!-- <img class="icon-main trans-04" src="assets/images/icons/icon-grid.png" alt="ICON">
                  <img class="ab-t-l icon-hov trans-04" src="assets/images/icons/icon-grid1.png" alt="ICON"> -->
                </button>
              </div>
            </div>
            <div class="col-5 text-right">
                Showing 1–12 of 23 results
            </div>

          </div>

          <!-- Shop grid -->
          <licky-lick-app-widget-product-grid [ngStyle]="{'display': listStyle}" [totalRecords]="6" (detailEvent)="onDetailEvent()"></licky-lick-app-widget-product-grid>
          <!-- Shop list -->
          <licky-lick-app-widget-product-list [ngStyle]="{'display': gridStyle}" [totalRecords]="6" (detailEvent)="onDetailEvent()"></licky-lick-app-widget-product-list>
        </div>
      </div>
    </div>
  </div>
</section>
