<!-- Content page -->
<section class="bg0 p-t-85 p-b-45">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-4 col-lg-3 m-rl-auto p-b-50">
        <div class="leftbar p-t-15">

          <!-- Categories -->
          <licky-lick-app-widget-product-categories></licky-lick-app-widget-product-categories> 
          <!-- Best Sellers -->
          <licky-lick-app-widget-product-best-sellers></licky-lick-app-widget-product-best-sellers>
          <!-- By Tag -->
          <licky-lick-app-widget-product-search-by-tag></licky-lick-app-widget-product-search-by-tag>
        </div>
      </div>

      <div class="col-sm-10 col-md-8 col-lg-9 m-rl-auto p-b-50">
        <div>
          <div class="row">
            <div class="col-7">
              <div class="form-group">
                <select class="form-control input-lg input-element" name="sort">
                  <option>Sort by popularity</option>
                  <option>Sort by best sell</option>
                  <option>Sort by special</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
              <div class="flex-w flex-m m-tb-7">
                <button class="btn btn-theme p-1">
                  <i class="fa fa-list" aria-hidden="true"></i>
                </button>

                <button class="btn btn-theme p-1">
                  <i class="fa fa-th" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="col-5 text-right">
                Showing 1–12 of 23 results
            </div>

          </div>

          <!-- Shop grid -->
          <licky-lick-app-widget-product-grid [ngStyle]="{'display': listStyle}" [totalRecords]="6" (detailEvent)="onDetailEvent()"></licky-lick-app-widget-product-grid>
          <!-- Shop list -->
          <licky-lick-app-widget-product-list [ngStyle]="{'display': gridStyle}" [totalRecords]="6" (detailEvent)="onDetailEvent()"></licky-lick-app-widget-product-list>
        </div>
      </div>
    </div>
  </div>
</section>
